{
  "openapi": "3.0.0",
  "servers": [{ "url": "https://api.botpress.cloud" }],
  "info": { "title": "Botpress API", "description": "API for Botpress Cloud", "version": "1.1.0" },
  "paths": {
    "/v1/admin/helper/vrl": {
      "post": {
        "operationId": "runVrl",
        "description": "Run a VRL script",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/runVrlResponse" },
          "default": { "$ref": "#/components/responses/runVrlResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/runVrlBody" }
      }
    },
    "/v1/admin/account/me": {
      "get": {
        "operationId": "getAccount",
        "description": "Get details of the account authenticating with this endpoint.",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/getAccountResponse" },
          "default": { "$ref": "#/components/responses/getAccountResponse" }
        }
      },
      "put": {
        "operationId": "updateAccount",
        "description": "Update details of the account associated with authenticated user",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/updateAccountResponse" },
          "default": { "$ref": "#/components/responses/updateAccountResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/updateAccountBody" }
      }
    },
    "/v1/admin/account/pats": {
      "get": {
        "operationId": "listPersonalAccessTokens",
        "description": "List PATs (Personal Access Tokens) of account.",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/listPersonalAccessTokensResponse" },
          "default": { "$ref": "#/components/responses/listPersonalAccessTokensResponse" }
        }
      },
      "post": {
        "operationId": "createPersonalAccessToken",
        "description": "Create a PAT",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/createPersonalAccessTokenResponse" },
          "default": { "$ref": "#/components/responses/createPersonalAccessTokenResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/createPersonalAccessTokenBody" }
      }
    },
    "/v1/admin/account/pats/{id}": {
      "delete": {
        "operationId": "deletePersonalAccessToken",
        "description": "Delete a PAT",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Personal Access Token",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/deletePersonalAccessTokenResponse" },
          "default": { "$ref": "#/components/responses/deletePersonalAccessTokenResponse" }
        }
      }
    },
    "/v1/admin/account/preferences/{key}": {
      "post": {
        "operationId": "setAccountPreference",
        "description": "Set a preference for the account",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Preference key",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/setAccountPreferenceResponse" },
          "default": { "$ref": "#/components/responses/setAccountPreferenceResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/setAccountPreferenceBody" }
      },
      "get": {
        "operationId": "getAccountPreference",
        "description": "Get a preference of the account",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Preference key",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getAccountPreferenceResponse" },
          "default": { "$ref": "#/components/responses/getAccountPreferenceResponse" }
        }
      }
    },
    "/v1/admin/hub/integrations": {
      "get": {
        "operationId": "listPublicIntegrations",
        "description": "List public integration",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page",
            "required": false,
            "schema": { "type": "number" }
          },
          { "name": "name", "in": "query", "description": "Integration Name", "schema": { "type": "string" } },
          {
            "name": "version",
            "in": "query",
            "description": "Integration version. Either a semver version or tag \"latest\"",
            "schema": { "type": "string" }
          },
          {
            "name": "interfaceId",
            "in": "query",
            "description": "Filter integrations by implemented interface ID",
            "schema": { "type": "string" }
          },
          {
            "name": "interfaceName",
            "in": "query",
            "description": "Filter integrations by implemented interface name (strict match)",
            "schema": { "type": "string" }
          },
          {
            "name": "installedByBotId",
            "in": "query",
            "description": "Bot ID. Required when filtering for installed integrations",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "verificationStatus",
            "in": "query",
            "description": "Filter integrations by verification status",
            "schema": { "type": "string", "enum": ["unapproved", "pending", "approved", "rejected"] }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search integrations by name, description, actions, and interfaces. Responses include a matchedOn field indicating which fields matched the search.",
            "schema": { "type": "string" }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort integrations by field",
            "schema": { "type": "string", "enum": ["popularity", "name", "createdAt", "updatedAt", "installCount"] }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction (asc or desc)",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listPublicIntegrationsResponse" },
          "default": { "$ref": "#/components/responses/listPublicIntegrationsResponse" }
        }
      }
    },
    "/v1/admin/hub/integrations/{id}": {
      "get": {
        "operationId": "getPublicIntegrationById",
        "description": "Get public integration by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getPublicIntegrationByIdResponse" },
          "default": { "$ref": "#/components/responses/getPublicIntegrationByIdResponse" }
        }
      }
    },
    "/v1/admin/hub/integrations/{name}/{version}": {
      "get": {
        "operationId": "getPublicIntegration",
        "description": "Get public integration by name and version",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Integration Name",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Integration version. Either a semver version or tag \"latest\"",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getPublicIntegrationResponse" },
          "default": { "$ref": "#/components/responses/getPublicIntegrationResponse" }
        }
      }
    },
    "/v1/admin/bots": {
      "post": {
        "operationId": "createBot",
        "description": "Create bot",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/createBotResponse" },
          "default": { "$ref": "#/components/responses/createBotResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/createBotBody" }
      },
      "get": {
        "operationId": "listBots",
        "description": "List bots",
        "parameters": [
          {
            "name": "dev",
            "in": "query",
            "description": "If true, only dev bots are returned. Otherwise, only production bots are returned.",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": { "type": "object", "additionalProperties": { "type": "string" } }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": { "type": "string" }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Sort results by this field",
            "schema": { "type": "string", "enum": ["createdAt", "updatedAt"] }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort results in this direction",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listBotsResponse" },
          "default": { "$ref": "#/components/responses/listBotsResponse" }
        }
      }
    },
    "/v1/admin/bots/{id}": {
      "put": {
        "operationId": "updateBot",
        "description": "Update bot",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/updateBotResponse" },
          "default": { "$ref": "#/components/responses/updateBotResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/updateBotBody" }
      },
      "get": {
        "operationId": "getBot",
        "description": "Get bot details",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getBotResponse" },
          "default": { "$ref": "#/components/responses/getBotResponse" }
        }
      },
      "delete": {
        "operationId": "deleteBot",
        "description": "Delete bot",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/deleteBotResponse" },
          "default": { "$ref": "#/components/responses/deleteBotResponse" }
        }
      }
    },
    "/v1/admin/bots/{id}/transfer": {
      "post": {
        "operationId": "transferBot",
        "description": "Transfer bot to another workspace. You need to be a Manager member of the workspace the bot currently belongs to and have permission to create bots in the target workspace.",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/transferBotResponse" },
          "default": { "$ref": "#/components/responses/transferBotResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/transferBotBody" }
      }
    },
    "/v1/admin/bots/{id}/logs": {
      "get": {
        "operationId": "getBotLogs",
        "description": "Get bot logs",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } },
          {
            "name": "timeStart",
            "in": "query",
            "description": "Beginning of the time range to get logs from",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "timeEnd",
            "in": "query",
            "description": "End of the time range to get logs from",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filter by log level",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Filter by user ID",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "workflowId",
            "in": "query",
            "description": "Filter by workflow ID",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Filter by conversation ID",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "Token to get the next page of logs",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getBotLogsResponse" },
          "default": { "$ref": "#/components/responses/getBotLogsResponse" }
        }
      }
    },
    "/v1/admin/bots/{id}/webchat": {
      "get": {
        "operationId": "getBotWebchat",
        "description": "Get the webchat code/URL for a bot",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } },
          {
            "name": "type",
            "in": "query",
            "description": "type of script to get",
            "required": true,
            "schema": { "type": "string", "enum": ["preconfigured", "configurable", "fullscreen", "sharableUrl"] }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getBotWebchatResponse" },
          "default": { "$ref": "#/components/responses/getBotWebchatResponse" }
        }
      }
    },
    "/v1/admin/bots/{id}/analytics": {
      "get": {
        "operationId": "getBotAnalytics",
        "description": "Get bot analytics",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date/time (inclusive)",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date/time (exclusive)",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getBotAnalyticsResponse" },
          "default": { "$ref": "#/components/responses/getBotAnalyticsResponse" }
        }
      }
    },
    "/v1/admin/bots/{id}/issues/{issueId}": {
      "get": {
        "operationId": "getBotIssue",
        "description": "Get Bot Issue",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } },
          {
            "name": "issueId",
            "in": "path",
            "description": "Issue ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getBotIssueResponse" },
          "default": { "$ref": "#/components/responses/getBotIssueResponse" }
        }
      },
      "delete": {
        "operationId": "deleteBotIssue",
        "description": "Delete Bot Issue",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } },
          {
            "name": "issueId",
            "in": "path",
            "description": "Issue ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/deleteBotIssueResponse" },
          "default": { "$ref": "#/components/responses/deleteBotIssueResponse" }
        }
      }
    },
    "/v1/admin/bots/{id}/issues": {
      "get": {
        "operationId": "listBotIssues",
        "description": "List Bot Issues",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } },
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listBotIssuesResponse" },
          "default": { "$ref": "#/components/responses/listBotIssuesResponse" }
        }
      }
    },
    "/v1/admin/bots/{id}/issues/{issueId}/events": {
      "get": {
        "operationId": "listBotIssueEvents",
        "description": "List Events for a Bot Issue",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } },
          {
            "name": "issueId",
            "in": "path",
            "description": "Issue ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listBotIssueEventsResponse" },
          "default": { "$ref": "#/components/responses/listBotIssueEventsResponse" }
        }
      }
    },
    "/v1/admin/bots/{id}/versions": {
      "get": {
        "operationId": "listBotVersions",
        "description": "List Versions for a Bot",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listBotVersionsResponse" },
          "default": { "$ref": "#/components/responses/listBotVersionsResponse" }
        }
      },
      "post": {
        "operationId": "createBotVersion",
        "description": "Create a new version for a bot",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/createBotVersionResponse" },
          "default": { "$ref": "#/components/responses/createBotVersionResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/createBotVersionBody" }
      }
    },
    "/v1/admin/bots/{id}/versions/{versionId}": {
      "get": {
        "operationId": "getBotVersion",
        "description": "Get a specific version of a bot",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } },
          {
            "name": "versionId",
            "in": "path",
            "description": "Version ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getBotVersionResponse" },
          "default": { "$ref": "#/components/responses/getBotVersionResponse" }
        }
      }
    },
    "/v1/admin/bots/{id}/versions/deploy": {
      "post": {
        "operationId": "deployBotVersion",
        "description": "Deploys a version for a bot",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/deployBotVersionResponse" },
          "default": { "$ref": "#/components/responses/deployBotVersionResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/deployBotVersionBody" }
      }
    },
    "/v1/admin/bots/{botId}/integrations/{integrationId}/shareable-id": {
      "post": {
        "operationId": "createIntegrationShareableId",
        "description": "(Experimental) Generate a shareable ID for an integration installed in a bot. This ID is meant to identify the crossover of a bot and an integration version, just like the webhook ID, but in a human-readable format. It is used for the integrations channel sandbox feature.",
        "parameters": [
          { "name": "botId", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/createIntegrationShareableIdResponse" },
          "default": { "$ref": "#/components/responses/createIntegrationShareableIdResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/createIntegrationShareableIdBody" }
      },
      "delete": {
        "operationId": "deleteIntegrationShareableId",
        "description": "(Experimental) Delete a shareable ID for an integration installed in a bot. This ID is meant to identify the crossover of a bot and an integration version, just like the webhook ID, but in a human-readable format. It is used for the integrations channel sandbox feature.",
        "parameters": [
          { "name": "botId", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/deleteIntegrationShareableIdResponse" },
          "default": { "$ref": "#/components/responses/deleteIntegrationShareableIdResponse" }
        }
      },
      "get": {
        "operationId": "getIntegrationShareableId",
        "description": "(Experimental) Get an existing shareable ID for an integration installed in a bot. This ID is meant to identify the crossover of a bot and an integration version, just like the webhook ID, but in a human-readable format. It is used for the integrations channel sandbox feature.",
        "parameters": [
          { "name": "botId", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getIntegrationShareableIdResponse" },
          "default": { "$ref": "#/components/responses/getIntegrationShareableIdResponse" }
        }
      }
    },
    "/v1/admin/workspaces/{id}/billing/invoices": {
      "get": {
        "operationId": "listWorkspaceInvoices",
        "description": "List invoices billed to workspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listWorkspaceInvoicesResponse" },
          "default": { "$ref": "#/components/responses/listWorkspaceInvoicesResponse" }
        }
      }
    },
    "/v1/admin/workspaces/{id}/billing/upcoming-invoice": {
      "get": {
        "operationId": "getUpcomingInvoice",
        "description": "Get upcoming invoice for workspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getUpcomingInvoiceResponse" },
          "default": { "$ref": "#/components/responses/getUpcomingInvoiceResponse" }
        }
      }
    },
    "/v1/admin/workspaces/{id}/billing/invoices/charge-unpaid": {
      "post": {
        "operationId": "chargeWorkspaceUnpaidInvoices",
        "description": "Charge unpaid invoices of a workspace.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/chargeWorkspaceUnpaidInvoicesResponse" },
          "default": { "$ref": "#/components/responses/chargeWorkspaceUnpaidInvoicesResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/chargeWorkspaceUnpaidInvoicesBody" }
      }
    },
    "/v1/admin/workspaces": {
      "post": {
        "operationId": "createWorkspace",
        "description": "Create workspace",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/createWorkspaceResponse" },
          "default": { "$ref": "#/components/responses/createWorkspaceResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/createWorkspaceBody" }
      },
      "get": {
        "operationId": "listWorkspaces",
        "description": "List workspaces the user has access to",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": { "type": "string" }
          },
          {
            "name": "handle",
            "in": "query",
            "description": "Workspace handle",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listWorkspacesResponse" },
          "default": { "$ref": "#/components/responses/listWorkspacesResponse" }
        }
      }
    },
    "/v1/admin/workspaces/{id}/public": {
      "get": {
        "operationId": "getPublicWorkspace",
        "description": "Get workspace public details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getPublicWorkspaceResponse" },
          "default": { "$ref": "#/components/responses/getPublicWorkspaceResponse" }
        }
      }
    },
    "/v1/admin/workspaces/{id}": {
      "get": {
        "operationId": "getWorkspace",
        "description": "Get workspace details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getWorkspaceResponse" },
          "default": { "$ref": "#/components/responses/getWorkspaceResponse" }
        }
      },
      "put": {
        "operationId": "updateWorkspace",
        "description": "Update workspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/updateWorkspaceResponse" },
          "default": { "$ref": "#/components/responses/updateWorkspaceResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/updateWorkspaceBody" }
      },
      "delete": {
        "operationId": "deleteWorkspace",
        "description": "Delete workspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/deleteWorkspaceResponse" },
          "default": { "$ref": "#/components/responses/deleteWorkspaceResponse" }
        }
      }
    },
    "/v1/admin/workspaces/{id}/usages": {
      "get": {
        "operationId": "listWorkspaceUsages",
        "description": "List workspace usages",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Usage type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "invocation_timeout",
                "invocation_calls",
                "storage_count",
                "bot_count",
                "knowledgebase_vector_storage",
                "workspace_ratelimit",
                "table_row_count",
                "workspace_member_count",
                "integrations_owned_count",
                "ai_spend",
                "openai_spend",
                "bing_search_spend",
                "always_alive"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Period to get",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listWorkspaceUsagesResponse" },
          "default": { "$ref": "#/components/responses/listWorkspaceUsagesResponse" }
        }
      }
    },
    "/v1/admin/workspaces/{id}/usages/by-bot": {
      "get": {
        "operationId": "breakDownWorkspaceUsageByBot",
        "description": "Break down workspace usage by bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Usage type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "invocation_timeout",
                "invocation_calls",
                "storage_count",
                "bot_count",
                "knowledgebase_vector_storage",
                "workspace_ratelimit",
                "table_row_count",
                "workspace_member_count",
                "integrations_owned_count",
                "ai_spend",
                "openai_spend",
                "bing_search_spend",
                "always_alive"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Period to get",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/breakDownWorkspaceUsageByBotResponse" },
          "default": { "$ref": "#/components/responses/breakDownWorkspaceUsageByBotResponse" }
        }
      }
    },
    "/v1/admin/workspaces/usages/quota-completion": {
      "get": {
        "operationId": "getAllWorkspaceQuotaCompletion",
        "description": "For a user, gets a map of workspace IDs to their highest quota completion rate",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/getAllWorkspaceQuotaCompletionResponse" },
          "default": { "$ref": "#/components/responses/getAllWorkspaceQuotaCompletionResponse" }
        }
      }
    },
    "/v1/admin/workspaces/{id}/quota": {
      "get": {
        "operationId": "getWorkspaceQuota",
        "description": "Get workspace quota",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Usage type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "invocation_timeout",
                "invocation_calls",
                "storage_count",
                "bot_count",
                "knowledgebase_vector_storage",
                "workspace_ratelimit",
                "table_row_count",
                "workspace_member_count",
                "integrations_owned_count",
                "ai_spend",
                "openai_spend",
                "bing_search_spend",
                "always_alive"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Period to get",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getWorkspaceQuotaResponse" },
          "default": { "$ref": "#/components/responses/getWorkspaceQuotaResponse" }
        }
      }
    },
    "/v1/admin/workspaces/{id}/quotas": {
      "get": {
        "operationId": "listWorkspaceQuotas",
        "description": "List workspace quotas",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Period to get",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listWorkspaceQuotasResponse" },
          "default": { "$ref": "#/components/responses/listWorkspaceQuotasResponse" }
        }
      }
    },
    "/v1/admin/workspaces/handle-availability": {
      "put": {
        "operationId": "checkHandleAvailability",
        "description": "Check if a workspace handle is available",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/checkHandleAvailabilityResponse" },
          "default": { "$ref": "#/components/responses/checkHandleAvailabilityResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/checkHandleAvailabilityBody" }
      }
    },
    "/v1/admin/workspaces/public": {
      "get": {
        "operationId": "listPublicWorkspaces",
        "description": "List public workspaces",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": { "type": "string" }
          },
          {
            "name": "workspaceIds",
            "in": "query",
            "description": "Ids of the workspaces to list",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listPublicWorkspacesResponse" },
          "default": { "$ref": "#/components/responses/listPublicWorkspacesResponse" }
        }
      }
    },
    "/v1/admin/workspaces/{id}/audit-records": {
      "get": {
        "operationId": "getAuditRecords",
        "description": "Get the audit records of a workspace, sorted from most recent to oldest.",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": { "type": "string" }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getAuditRecordsResponse" },
          "default": { "$ref": "#/components/responses/getAuditRecordsResponse" }
        }
      }
    },
    "/v1/admin/workspace-members": {
      "get": {
        "operationId": "listWorkspaceMembers",
        "description": "Lists all the members in a workspace",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listWorkspaceMembersResponse" },
          "default": { "$ref": "#/components/responses/listWorkspaceMembersResponse" }
        }
      },
      "post": {
        "operationId": "createWorkspaceMember",
        "description": "Add a member to the workspace",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/createWorkspaceMemberResponse" },
          "default": { "$ref": "#/components/responses/createWorkspaceMemberResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/createWorkspaceMemberBody" }
      }
    },
    "/v1/admin/workspace-members/me": {
      "get": {
        "operationId": "getWorkspaceMember",
        "description": "Get details of the account authenticating with this endpoint.",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/getWorkspaceMemberResponse" },
          "default": { "$ref": "#/components/responses/getWorkspaceMemberResponse" }
        }
      }
    },
    "/v1/admin/workspace-members/{id}": {
      "delete": {
        "operationId": "deleteWorkspaceMember",
        "description": "Remove a member of a workspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace member ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/deleteWorkspaceMemberResponse" },
          "default": { "$ref": "#/components/responses/deleteWorkspaceMemberResponse" }
        }
      },
      "put": {
        "operationId": "updateWorkspaceMember",
        "description": "Update the member of a workspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace member ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/updateWorkspaceMemberResponse" },
          "default": { "$ref": "#/components/responses/updateWorkspaceMemberResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/updateWorkspaceMemberBody" }
      }
    },
    "/v1/admin/integrations/iaks": {
      "get": {
        "operationId": "listIntegrationApiKeys",
        "description": "List IAKs (Integration Api Keys) of an integration",
        "parameters": [
          {
            "name": "integrationId",
            "in": "query",
            "description": "ID of the integration",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listIntegrationApiKeysResponse" },
          "default": { "$ref": "#/components/responses/listIntegrationApiKeysResponse" }
        }
      },
      "post": {
        "operationId": "createIntegrationApiKey",
        "description": "Create an IAK",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/createIntegrationApiKeyResponse" },
          "default": { "$ref": "#/components/responses/createIntegrationApiKeyResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/createIntegrationApiKeyBody" }
      }
    },
    "/v1/admin/integrations/iaks/{id}": {
      "delete": {
        "operationId": "deleteIntegrationApiKey",
        "description": "Delete an IAK",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Integration Api Key",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/deleteIntegrationApiKeyResponse" },
          "default": { "$ref": "#/components/responses/deleteIntegrationApiKeyResponse" }
        }
      }
    },
    "/v1/admin/integrations": {
      "post": {
        "operationId": "createIntegration",
        "description": "Create integration",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/createIntegrationResponse" },
          "default": { "$ref": "#/components/responses/createIntegrationResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/createIntegrationBody" }
      },
      "get": {
        "operationId": "listIntegrations",
        "description": "List integrations, supports filtering and sorting capabilities",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page",
            "required": false,
            "schema": { "type": "number" }
          },
          { "name": "name", "in": "query", "description": "Integration Name", "schema": { "type": "string" } },
          {
            "name": "version",
            "in": "query",
            "description": "Integration version. Either a semver version or tag \"latest\"",
            "schema": { "type": "string" }
          },
          {
            "name": "interfaceId",
            "in": "query",
            "description": "Filter integrations by implemented interface ID",
            "schema": { "type": "string" }
          },
          {
            "name": "interfaceName",
            "in": "query",
            "description": "Filter integrations by implemented interface name (strict match)",
            "schema": { "type": "string" }
          },
          {
            "name": "installedByBotId",
            "in": "query",
            "description": "Bot ID. Required when filtering for installed integrations",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "verificationStatus",
            "in": "query",
            "description": "Filter integrations by verification status",
            "schema": { "type": "string", "enum": ["unapproved", "pending", "approved", "rejected"] }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search integrations by name, description, actions, and interfaces. Responses include a matchedOn field indicating which fields matched the search.",
            "schema": { "type": "string" }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort integrations by field",
            "schema": { "type": "string", "enum": ["popularity", "name", "createdAt", "updatedAt", "installCount"] }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction (asc or desc)",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "visibility",
            "in": "query",
            "description": "Filter integrations by visibility (public, private)",
            "schema": { "type": "string", "enum": ["public", "private"] }
          },
          {
            "name": "dev",
            "in": "query",
            "description": "If true, only dev integrations are returned. Otherwise, only production integrations are returned.",
            "required": false,
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listIntegrationsResponse" },
          "default": { "$ref": "#/components/responses/listIntegrationsResponse" }
        }
      }
    },
    "/v1/admin/integrations/validate": {
      "post": {
        "operationId": "validateIntegrationCreation",
        "description": "Perform a validation of an integration creation request",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/validateIntegrationCreationResponse" },
          "default": { "$ref": "#/components/responses/validateIntegrationCreationResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/validateIntegrationCreationBody" }
      }
    },
    "/v1/admin/integrations/{id}": {
      "put": {
        "operationId": "updateIntegration",
        "description": "Update integration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/updateIntegrationResponse" },
          "default": { "$ref": "#/components/responses/updateIntegrationResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/updateIntegrationBody" }
      },
      "get": {
        "operationId": "getIntegration",
        "description": "Get integration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getIntegrationResponse" },
          "default": { "$ref": "#/components/responses/getIntegrationResponse" }
        }
      },
      "delete": {
        "operationId": "deleteIntegration",
        "description": "Delete integration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/deleteIntegrationResponse" },
          "default": { "$ref": "#/components/responses/deleteIntegrationResponse" }
        }
      }
    },
    "/v1/admin/integrations/{id}/validate": {
      "put": {
        "operationId": "validateIntegrationUpdate",
        "description": "Perform a validation of an integration update request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/validateIntegrationUpdateResponse" },
          "default": { "$ref": "#/components/responses/validateIntegrationUpdateResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/validateIntegrationUpdateBody" }
      }
    },
    "/v1/admin/integrations/{id}/logs": {
      "get": {
        "operationId": "getIntegrationLogs",
        "description": "Get integration logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "timeStart",
            "in": "query",
            "description": "Beginning of the time range to get logs from",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "timeEnd",
            "in": "query",
            "description": "End of the time range to get logs from",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filter by log level",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Filter by user ID",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Filter by conversation ID",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "Token to get the next page of logs",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getIntegrationLogsResponse" },
          "default": { "$ref": "#/components/responses/getIntegrationLogsResponse" }
        }
      }
    },
    "/v1/admin/integrations/{name}/{version}": {
      "get": {
        "operationId": "getIntegrationByName",
        "description": "Get integration",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Integration Name",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Integration version. Either a semver version or tag \"latest\"",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getIntegrationByNameResponse" },
          "default": { "$ref": "#/components/responses/getIntegrationByNameResponse" }
        }
      }
    },
    "/v1/admin/integrations/request-verification": {
      "post": {
        "operationId": "requestIntegrationVerification",
        "description": "Request Integration Verification",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/requestIntegrationVerificationResponse" },
          "default": { "$ref": "#/components/responses/requestIntegrationVerificationResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/requestIntegrationVerificationBody" }
      }
    },
    "/v1/admin/interfaces": {
      "post": {
        "operationId": "createInterface",
        "description": "Create Interface",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/createInterfaceResponse" },
          "default": { "$ref": "#/components/responses/createInterfaceResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/createInterfaceBody" }
      },
      "get": {
        "operationId": "listInterfaces",
        "description": "List Interfaces",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": { "type": "string" }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter all versions of an interface by name",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listInterfacesResponse" },
          "default": { "$ref": "#/components/responses/listInterfacesResponse" }
        }
      }
    },
    "/v1/admin/interfaces/{id}": {
      "get": {
        "operationId": "getInterface",
        "description": "Get Interface",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Interface id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getInterfaceResponse" },
          "default": { "$ref": "#/components/responses/getInterfaceResponse" }
        }
      },
      "put": {
        "operationId": "updateInterface",
        "description": "Update Interface",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Interface id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/updateInterfaceResponse" },
          "default": { "$ref": "#/components/responses/updateInterfaceResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/updateInterfaceBody" }
      },
      "delete": {
        "operationId": "deleteInterface",
        "description": "Delete Interface",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Interface id",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/deleteInterfaceResponse" },
          "default": { "$ref": "#/components/responses/deleteInterfaceResponse" }
        }
      }
    },
    "/v1/admin/interfaces/{name}/{version}": {
      "get": {
        "operationId": "getInterfaceByName",
        "description": "Get Interface by name and version",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Interface name",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Interface version",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getInterfaceByNameResponse" },
          "default": { "$ref": "#/components/responses/getInterfaceByNameResponse" }
        }
      }
    },
    "/v1/admin/plugins": {
      "post": {
        "operationId": "createPlugin",
        "description": "Create Plugin",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/createPluginResponse" },
          "default": { "$ref": "#/components/responses/createPluginResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/createPluginBody" }
      },
      "get": {
        "operationId": "listPlugins",
        "description": "List Plugins",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": { "type": "string" }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter all versions of a plugin by name",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listPluginsResponse" },
          "default": { "$ref": "#/components/responses/listPluginsResponse" }
        }
      }
    },
    "/v1/admin/plugins/{id}": {
      "get": {
        "operationId": "getPlugin",
        "description": "Get Plugin",
        "parameters": [
          { "name": "id", "in": "path", "description": "Plugin id", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getPluginResponse" },
          "default": { "$ref": "#/components/responses/getPluginResponse" }
        }
      },
      "put": {
        "operationId": "updatePlugin",
        "description": "Update Plugin",
        "parameters": [
          { "name": "id", "in": "path", "description": "Plugin id", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/updatePluginResponse" },
          "default": { "$ref": "#/components/responses/updatePluginResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/updatePluginBody" }
      },
      "delete": {
        "operationId": "deletePlugin",
        "description": "Delete Plugin",
        "parameters": [
          { "name": "id", "in": "path", "description": "Plugin id", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/deletePluginResponse" },
          "default": { "$ref": "#/components/responses/deletePluginResponse" }
        }
      }
    },
    "/v1/admin/plugins/{name}/{version}": {
      "get": {
        "operationId": "getPluginByName",
        "description": "Get Plugin by name and version",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Plugin name",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Plugin version",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getPluginByNameResponse" },
          "default": { "$ref": "#/components/responses/getPluginByNameResponse" }
        }
      }
    },
    "/v1/admin/plugins/{id}/code/{platform}": {
      "get": {
        "operationId": "getPluginCode",
        "description": "Get Plugin Code",
        "parameters": [
          { "name": "id", "in": "path", "description": "Bot ID", "required": true, "schema": { "type": "string" } },
          {
            "name": "platform",
            "in": "path",
            "description": "Platform",
            "required": true,
            "schema": { "type": "string", "enum": ["node", "browser"] }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getPluginCodeResponse" },
          "default": { "$ref": "#/components/responses/getPluginCodeResponse" }
        }
      }
    },
    "/v1/admin/usages/{id}": {
      "get": {
        "operationId": "getUsage",
        "description": "Get usage",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Usage type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "invocation_timeout",
                "invocation_calls",
                "storage_count",
                "bot_count",
                "knowledgebase_vector_storage",
                "workspace_ratelimit",
                "table_row_count",
                "workspace_member_count",
                "integrations_owned_count",
                "ai_spend",
                "openai_spend",
                "bing_search_spend",
                "always_alive"
              ]
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Period to get",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of a bot or a workspace, depending on the \"type\" parameter",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getUsageResponse" },
          "default": { "$ref": "#/components/responses/getUsageResponse" }
        }
      }
    },
    "/v1/admin/usages/multiple": {
      "get": {
        "operationId": "getMultipleUsages",
        "description": "Get multiple usages",
        "parameters": [
          {
            "name": "types",
            "in": "query",
            "description": "Usage types to retrieve. All types have to belong to the same type of entity (e.g. workspace or bot).",
            "required": true,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "IDs of either workspaces or bots to retrieve usages for.",
            "required": true,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Period to get",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/getMultipleUsagesResponse" },
          "default": { "$ref": "#/components/responses/getMultipleUsagesResponse" }
        }
      }
    },
    "/v1/admin/usages/{id}/history": {
      "get": {
        "operationId": "listUsageHistory",
        "description": "Get usage history",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Usage type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "invocation_timeout",
                "invocation_calls",
                "storage_count",
                "bot_count",
                "knowledgebase_vector_storage",
                "workspace_ratelimit",
                "table_row_count",
                "workspace_member_count",
                "integrations_owned_count",
                "ai_spend",
                "openai_spend",
                "bing_search_spend",
                "always_alive"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of a bot or a workspace, depending on the \"type\" parameter",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listUsageHistoryResponse" },
          "default": { "$ref": "#/components/responses/listUsageHistoryResponse" }
        }
      }
    },
    "/v1/admin/usages/{id}/activity": {
      "get": {
        "operationId": "listUsageActivity",
        "description": "List the usage activity for a given usage type and ID. The most recent activity is listed first.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Usage type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "invocation_timeout",
                "invocation_calls",
                "storage_count",
                "bot_count",
                "knowledgebase_vector_storage",
                "workspace_ratelimit",
                "table_row_count",
                "workspace_member_count",
                "integrations_owned_count",
                "ai_spend",
                "openai_spend",
                "bing_search_spend",
                "always_alive"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of a bot or a workspace, depending on the \"type\" parameter",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "timestampFrom",
            "in": "query",
            "description": "Timestamp from (inclusive)",
            "schema": { "type": "string" }
          },
          {
            "name": "timestampUntil",
            "in": "query",
            "description": "Timestamp until (exclusive)",
            "schema": { "type": "string" }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listUsageActivityResponse" },
          "default": { "$ref": "#/components/responses/listUsageActivityResponse" }
        }
      }
    },
    "/v1/admin/usages/{id}/daily-activity": {
      "get": {
        "operationId": "listUsageActivityDaily",
        "description": "List the aggregate daily usage activity (aggregate) for a given usage type and ID. The most recent activity is listed first.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Usage type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "invocation_timeout",
                "invocation_calls",
                "storage_count",
                "bot_count",
                "knowledgebase_vector_storage",
                "workspace_ratelimit",
                "table_row_count",
                "workspace_member_count",
                "integrations_owned_count",
                "ai_spend",
                "openai_spend",
                "bing_search_spend",
                "always_alive"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of a bot or a workspace, depending on the \"type\" parameter",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "dateFrom", "in": "query", "description": "Date from (inclusive)", "schema": { "type": "string" } },
          {
            "name": "dateUntil",
            "in": "query",
            "description": "Date until (exclusive)",
            "schema": { "type": "string" }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listUsageActivityDailyResponse" },
          "default": { "$ref": "#/components/responses/listUsageActivityDailyResponse" }
        }
      }
    },
    "/v1/admin/quotas/ai-spend": {
      "put": {
        "operationId": "changeAISpendQuota",
        "description": "Change AI Spend quota",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/changeAISpendQuotaResponse" },
          "default": { "$ref": "#/components/responses/changeAISpendQuotaResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/changeAISpendQuotaBody" }
      }
    },
    "/v1/admin/activities": {
      "get": {
        "operationId": "listActivities",
        "description": "List activities of a task",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": { "type": "string" }
          },
          {
            "name": "taskId",
            "in": "query",
            "description": "ID of the task to list activities for",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "botId",
            "in": "query",
            "description": "ID of the bot to list activities for",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/listActivitiesResponse" },
          "default": { "$ref": "#/components/responses/listActivitiesResponse" }
        }
      }
    },
    "/v1/admin/introspect": {
      "post": {
        "operationId": "introspect",
        "description": "Introspect the API",
        "parameters": [],
        "responses": {
          "200": { "$ref": "#/components/responses/introspectResponse" },
          "default": { "$ref": "#/components/responses/introspectResponse" }
        },
        "requestBody": { "$ref": "#/components/requestBodies/introspectBody" }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "WorkspaceIdHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-workspace-id",
        "description": "Your workspace ID."
      }
    },
    "schemas": {
      "Bot": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "minLength": 28, "maxLength": 36, "description": "ID of the [Bot](#schema_bot)" },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date of the [Bot](#schema_bot) in ISO 8601 format"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Updating date of the [Bot](#schema_bot) in ISO 8601 format"
          },
          "signingSecret": {
            "type": "string",
            "maxLength": 2000,
            "description": "Signing secret of the [Bot](#schema_bot)"
          },
          "integrations": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "enabled": { "type": "boolean" },
                "name": {
                  "type": "string",
                  "maxLength": 200,
                  "description": "Name of the [Integration](#schema_integration)"
                },
                "version": {
                  "type": "string",
                  "maxLength": 200,
                  "description": "Version of the [Integration](#schema_integration)"
                },
                "webhookUrl": { "type": "string", "maxLength": 2000 },
                "webhookId": { "type": "string", "maxLength": 200 },
                "identifier": { "type": "string", "maxLength": 2000 },
                "configurationType": { "type": "string", "maxLength": 200, "nullable": true },
                "configuration": { "type": "object", "additionalProperties": true },
                "status": {
                  "type": "string",
                  "enum": [
                    "registration_pending",
                    "registered",
                    "registration_failed",
                    "unregistration_pending",
                    "unregistered",
                    "unregistration_failed"
                  ]
                },
                "statusReason": { "type": "string", "maxLength": 2000, "nullable": true },
                "id": {
                  "type": "string",
                  "minLength": 28,
                  "maxLength": 36,
                  "description": "ID of the [Integration](#schema_integration)"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Creation date of the [Integration](#schema_integration) in ISO 8601 format"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updating date of the [Integration](#schema_integration) in ISO 8601 format"
                },
                "title": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 64,
                  "description": "Title of the integration. This is the name that will be displayed in the UI"
                },
                "description": {
                  "type": "string",
                  "maxLength": 256,
                  "description": "Description of the integration. This is the description that will be displayed in the UI"
                },
                "iconUrl": {
                  "type": "string",
                  "description": "URL of the icon of the integration. This is the icon that will be displayed in the UI"
                },
                "public": {
                  "type": "boolean",
                  "description": "Indicates if the integration is public. Public integrations are available to all and cannot be updated without creating a new version."
                },
                "verificationStatus": {
                  "type": "string",
                  "enum": ["unapproved", "pending", "approved", "rejected"],
                  "description": "Status of the integration version verification"
                }
              },
              "required": [
                "enabled",
                "name",
                "version",
                "webhookUrl",
                "webhookId",
                "configurationType",
                "configuration",
                "status",
                "statusReason",
                "id",
                "createdAt",
                "updatedAt",
                "title",
                "description",
                "iconUrl",
                "public",
                "verificationStatus"
              ],
              "additionalProperties": false
            },
            "description": "A mapping of integrations to their configuration"
          },
          "user": {
            "type": "object",
            "properties": {
              "tags": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "title": { "type": "string", "maxLength": 64, "description": "Title of the tag" },
                    "description": { "type": "string", "maxLength": 256, "description": "Description of the tag" }
                  },
                  "description": "Definition of a tag that can be provided on the object",
                  "additionalProperties": false
                }
              }
            },
            "required": ["tags"],
            "description": "User object configuration",
            "additionalProperties": false
          },
          "conversation": {
            "type": "object",
            "properties": {
              "tags": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "title": { "type": "string", "maxLength": 64, "description": "Title of the tag" },
                    "description": { "type": "string", "maxLength": 256, "description": "Description of the tag" }
                  },
                  "description": "Definition of a tag that can be provided on the object",
                  "additionalProperties": false
                }
              }
            },
            "required": ["tags"],
            "description": "Conversation object configuration",
            "additionalProperties": false
          },
          "message": {
            "type": "object",
            "properties": {
              "tags": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "title": { "type": "string", "maxLength": 64, "description": "Title of the tag" },
                    "description": { "type": "string", "maxLength": 256, "description": "Description of the tag" }
                  },
                  "description": "Definition of a tag that can be provided on the object",
                  "additionalProperties": false
                }
              }
            },
            "required": ["tags"],
            "description": "Message object configuration",
            "additionalProperties": false
          },
          "states": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": ["conversation", "user", "bot", "task"],
                  "description": "Type of the [State](#schema_state) (`conversation`, `user`, `bot` or `task`)"
                },
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Schema of the [State](#schema_state) in the `JSON schema` format. This `JSON schema` is going to be used for validating the state data."
                },
                "expiry": {
                  "type": "number",
                  "minimum": 1,
                  "description": "Expiry of the [State](#schema_state) in milliseconds. The state will expire if it is idle for the configured value. By default, a state doesn't expire."
                }
              },
              "required": ["type", "schema"],
              "additionalProperties": false
            },
            "description": "A mapping of states to their definition"
          },
          "configuration": {
            "type": "object",
            "properties": {
              "data": { "type": "object", "additionalProperties": true, "description": "Configuration data" },
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Schema of the configuration in the `JSON schema` format. The configuration data is validated against this `JSON schema`."
              }
            },
            "required": ["data", "schema"],
            "description": "Configuration of the bot",
            "additionalProperties": false
          },
          "events": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "title": { "type": "string", "maxLength": 64, "description": "Title of the event" },
                "description": { "type": "string", "maxLength": 256, "description": "Description of the event" },
                "schema": { "type": "object", "additionalProperties": true }
              },
              "required": ["schema"],
              "description": "Event Definition",
              "additionalProperties": false
            },
            "description": "Events definition"
          },
          "recurringEvents": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "schedule": {
                  "type": "object",
                  "properties": { "cron": { "type": "string", "maxLength": 200 } },
                  "required": ["cron"],
                  "additionalProperties": false
                },
                "type": { "type": "string", "maxLength": 200 },
                "payload": { "type": "object", "additionalProperties": true },
                "failedAttempts": {
                  "type": "number",
                  "description": "The number of times the recurring event failed to run. This counter resets once the recurring event runs successfully."
                },
                "lastFailureReason": {
                  "type": "string",
                  "maxLength": 2000,
                  "description": "The reason why the recurring event failed to run in the last attempt.",
                  "nullable": true
                }
              },
              "required": ["schedule", "type", "payload", "failedAttempts", "lastFailureReason"],
              "additionalProperties": false
            },
            "description": "Recurring events"
          },
          "subscriptions": {
            "type": "object",
            "properties": {
              "events": {
                "type": "object",
                "additionalProperties": { "type": "object", "additionalProperties": false },
                "nullable": true,
                "description": "Events that the bot is currently subscribed on (ex: \"slack:reactionAdded\"). If null, the bot is subscribed to all events."
              }
            },
            "required": ["events"],
            "description": "Subscriptions of the bot",
            "additionalProperties": false
          },
          "actions": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "title": { "type": "string", "maxLength": 64, "description": "Title of the action" },
                "description": { "type": "string", "maxLength": 256, "description": "Description of the action" },
                "billable": { "type": "boolean" },
                "cacheable": { "type": "boolean" },
                "input": {
                  "type": "object",
                  "properties": { "schema": { "type": "object", "additionalProperties": true } },
                  "required": ["schema"],
                  "additionalProperties": false
                },
                "output": {
                  "type": "object",
                  "properties": { "schema": { "type": "object", "additionalProperties": true } },
                  "required": ["schema"],
                  "additionalProperties": false
                }
              },
              "required": ["input", "output"],
              "description": "Action definition",
              "additionalProperties": false
            },
            "description": "Actions definition"
          },
          "tags": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "Tags of [Bot](#schema_bot)"
          },
          "name": { "type": "string", "description": "Name of the [Bot](#schema_bot)" },
          "deployedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last deployment date of the [Bot](#schema_bot) in the ISO 8601 format"
          },
          "dev": {
            "type": "boolean",
            "description": "Indicates if the [Bot](#schema_bot) is a development bot; Development bots run locally and can install dev integrations"
          },
          "createdBy": { "type": "string", "description": "ID of the user that created the bot" },
          "alwaysAlive": {
            "type": "boolean",
            "description": "Indicates if the [Bot](#schema_bot) should be in always alive mode"
          },
          "status": { "type": "string", "enum": ["active", "deploying"], "description": "Status of the bot" },
          "medias": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": { "type": "string", "description": "URL of the media file" },
                "name": { "type": "string", "description": "Name of the media file" }
              },
              "required": ["url", "name"]
            },
            "description": "Media files associated with the [Bot](#schema_bot)"
          }
        },
        "required": [
          "id",
          "createdAt",
          "updatedAt",
          "signingSecret",
          "integrations",
          "user",
          "conversation",
          "message",
          "states",
          "configuration",
          "events",
          "recurringEvents",
          "subscriptions",
          "actions",
          "tags",
          "name",
          "dev",
          "alwaysAlive",
          "status",
          "medias"
        ],
        "additionalProperties": false
      },
      "Integration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "ID of the [Integration](#schema_integration)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date of the [Integration](#schema_integration) in ISO 8601 format"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Updating date of the [Integration](#schema_integration) in ISO 8601 format"
          },
          "identifier": {
            "type": "object",
            "properties": {
              "fallbackHandlerScript": {
                "type": "string",
                "maxLength": 2000,
                "description": "VRL Script of the [Integration](#schema_integration) to handle incoming requests for a request that doesn't have an identifier"
              },
              "extractScript": {
                "type": "string",
                "maxLength": 2000,
                "description": "VRL Script of the [Integration](#schema_integration) to extract the identifier from an incoming webhook often use for OAuth"
              }
            },
            "description": "Global identifier configuration of the [Integration](#schema_integration)",
            "additionalProperties": false
          },
          "sandbox": {
            "type": "object",
            "properties": {
              "identifierExtractScript": {
                "type": "string",
                "maxLength": 2000,
                "description": "VRL Script of the [Integration](#schema_integration) to extract the identifier from an incoming webhook used specifically for the sandbox"
              },
              "messageExtractScript": {
                "type": "string",
                "maxLength": 2000,
                "description": "VRL Script of the [Integration](#schema_integration) to extract the message from an incoming webhook used specifically for the sandbox"
              }
            },
            "additionalProperties": false
          },
          "url": {
            "type": "string",
            "maxLength": 2000,
            "description": "URL of the [Integration](#schema_integration)"
          },
          "name": {
            "type": "string",
            "maxLength": 200,
            "description": "Name of the [Integration](#schema_integration)"
          },
          "version": {
            "type": "string",
            "maxLength": 200,
            "description": "Version of the [Integration](#schema_integration)"
          },
          "interfaces": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "minLength": 28, "maxLength": 36, "description": "ID of the interface" },
                "name": { "type": "string", "maxLength": 200, "description": "Name of the interface" },
                "version": { "type": "string", "maxLength": 200, "description": "Version of the interface" },
                "entities": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": { "name": { "type": "string", "maxLength": 200 } },
                    "required": ["name"],
                    "additionalProperties": false
                  }
                },
                "actions": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": { "name": { "type": "string", "maxLength": 200 } },
                    "required": ["name"],
                    "additionalProperties": false
                  }
                },
                "events": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": { "name": { "type": "string", "maxLength": 200 } },
                    "required": ["name"],
                    "additionalProperties": false
                  }
                },
                "channels": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": { "name": { "type": "string", "maxLength": 200 } },
                    "required": ["name"],
                    "additionalProperties": false
                  }
                }
              },
              "required": ["id", "name", "version", "entities", "actions", "events", "channels"],
              "additionalProperties": false
            }
          },
          "configuration": {
            "type": "object",
            "properties": {
              "title": { "type": "string", "maxLength": 64, "description": "Title of the configuration" },
              "description": { "type": "string", "maxLength": 256, "description": "Description of the configuration" },
              "identifier": {
                "type": "object",
                "properties": {
                  "linkTemplateScript": { "type": "string", "maxLength": 2000 },
                  "required": { "type": "boolean" }
                },
                "required": ["required"],
                "description": "Identifier configuration of the [Integration](#schema_integration)",
                "additionalProperties": false
              },
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Schema of the configuration in the `JSON schema` format. The configuration data is validated against this `JSON schema`."
              }
            },
            "required": ["identifier", "schema"],
            "description": "Configuration definition",
            "additionalProperties": false
          },
          "configurations": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "title": { "type": "string", "maxLength": 64, "description": "Title of the configuration" },
                "description": {
                  "type": "string",
                  "maxLength": 256,
                  "description": "Description of the configuration"
                },
                "identifier": {
                  "type": "object",
                  "properties": {
                    "linkTemplateScript": { "type": "string", "maxLength": 2000 },
                    "required": { "type": "boolean" }
                  },
                  "required": ["required"],
                  "description": "Identifier configuration of the [Integration](#schema_integration)",
                  "additionalProperties": false
                },
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Schema of the configuration in the `JSON schema` format. The configuration data is validated against this `JSON schema`."
                }
              },
              "required": ["identifier", "schema"],
              "description": "Configuration definition",
              "additionalProperties": false
            }
          },
          "channels": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "title": { "type": "string", "maxLength": 64, "description": "Title of the channel" },
                "description": { "type": "string", "maxLength": 256, "description": "Description of the channel" },
                "messages": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": { "schema": { "type": "object", "additionalProperties": true } },
                    "required": ["schema"],
                    "description": "Message definition",
                    "additionalProperties": false
                  }
                },
                "conversation": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "title": { "type": "string", "maxLength": 64, "description": "Title of the tag" },
                          "description": { "type": "string", "maxLength": 256, "description": "Description of the tag" }
                        },
                        "description": "Definition of a tag that can be provided on the object",
                        "additionalProperties": false
                      }
                    },
                    "creation": {
                      "type": "object",
                      "properties": {
                        "enabled": { "type": "boolean", "description": "Enable conversation creation" },
                        "requiredTags": {
                          "type": "array",
                          "items": { "type": "string" },
                          "description": "The list of tags that are required to be specified when calling the API directly to create a conversation."
                        }
                      },
                      "required": ["enabled", "requiredTags"],
                      "description": "The conversation creation setting determines how to create a conversation through the API directly. The integration will have to implement the `createConversation` functionality to support this setting.",
                      "additionalProperties": false
                    }
                  },
                  "required": ["tags", "creation"],
                  "description": "Conversation object configuration",
                  "additionalProperties": false
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "title": { "type": "string", "maxLength": 64, "description": "Title of the tag" },
                          "description": { "type": "string", "maxLength": 256, "description": "Description of the tag" }
                        },
                        "description": "Definition of a tag that can be provided on the object",
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["tags"],
                  "description": "Message object configuration",
                  "additionalProperties": false
                }
              },
              "required": ["messages", "conversation", "message"],
              "description": "Channel definition",
              "additionalProperties": false
            }
          },
          "states": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": ["conversation", "user", "integration"],
                  "description": "Type of the [State](#schema_state) (`conversation`, `user` or `integration`)"
                },
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Schema of the [State](#schema_state) in the `JSON schema` format. This `JSON schema` is going to be used for validating the state data."
                }
              },
              "required": ["type", "schema"],
              "description": "State definition",
              "additionalProperties": false
            }
          },
          "events": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "title": { "type": "string", "maxLength": 64, "description": "Title of the event" },
                "description": { "type": "string", "maxLength": 256, "description": "Description of the event" },
                "schema": { "type": "object", "additionalProperties": true }
              },
              "required": ["schema"],
[...]
