{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.botpress.cloud"
        }
    ],
    "info": {
        "title": "Botpress Files API",
        "description": "API for Files",
        "version": "0.18.0"
    },
    "paths": {
        "/v1/files": {
            "put": {
                "operationId": "upsertFile",
                "description": "Creates or updates a file using the `key` parameter as unique identifier. Updating a file will erase the existing content of the file. Upload the file content by sending it in a PUT request to the `uploadUrl` returned in the response.",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/upsertFileResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/upsertFileResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/upsertFileBody"
                }
            },
            "get": {
                "operationId": "listFiles",
                "description": "List files for bot",
                "parameters": [
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sortField",
                        "in": "query",
                        "description": "Sort results by this field",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "key",
                                "size",
                                "createdAt",
                                "updatedAt",
                                "status"
                            ]
                        }
                    },
                    {
                        "name": "sortDirection",
                        "in": "query",
                        "description": "Sort results in this direction",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Filter files by tags. Tags should be passed as a URL-encoded JSON object of key-value pairs that must be present in the tags of a file. An array of multiple string values for the same key are treated as an OR condition. To exclude a value, express it as an object with a nested `not` key with the string or string-array value(s) to exclude.",
                        "schema": {}
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Filter files by IDs.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "maxItems": 50
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/listFilesResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/listFilesResponse"
                    }
                }
            }
        },
        "/v1/files/{id}": {
            "delete": {
                "operationId": "deleteFile",
                "description": "Deletes a file.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "File ID or Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/deleteFileResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/deleteFileResponse"
                    }
                }
            },
            "get": {
                "operationId": "getFile",
                "description": "Get file",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "File ID or Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getFileResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getFileResponse"
                    }
                }
            },
            "put": {
                "operationId": "updateFileMetadata",
                "description": "Update file metadata, without updating the file content.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "File ID or Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/updateFileMetadataResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/updateFileMetadataResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/updateFileMetadataBody"
                }
            }
        },
        "/v1/files/{idOrKey}/{destinationKey}": {
            "post": {
                "operationId": "copyFile",
                "description": "Copy file",
                "parameters": [
                    {
                        "name": "idOrKey",
                        "in": "path",
                        "description": "File ID or Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "destinationKey",
                        "in": "path",
                        "description": "The new key of the file. The file key must not be in use already in the destination bot.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-destination-bot-id",
                        "in": "header",
                        "description": "The bot ID to copy the file to. You must have permission to create files in the destination bot. If the destination bot ID is omitted, the file will be copied to the same bot the source file belongs to.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/copyFileResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/copyFileResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/copyFileBody"
                }
            }
        },
        "/v1/files/search": {
            "get": {
                "operationId": "searchFiles",
                "description": "Search files",
                "parameters": [
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Filter files by tags. Tags should be passed as a URL-encoded JSON object of key-value pairs that must be present in the tags of a file. An array of multiple string values for the same key are treated as an OR condition. To exclude a value, express it as an object with a nested `not` key with the string or string-array value(s) to exclude.",
                        "schema": {}
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Query expressed in natural language to retrieve matching text passages within all indexed files in the bot using semantical search.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contextDepth",
                        "in": "query",
                        "description": "The number of neighbor passages to prepend and append as surrounding context to the content of each returned passage (default: 1, minimum: 0, maximum: 10).",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of passages to return.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "consolidate",
                        "in": "query",
                        "description": "Consolidate the results by merging matching passages from the same file into a single passage per file. The consolidated passage will include the matching passages ordered by their original position in the file (rather than by relevance score) and include hierarchical context such as the title/subtitle to which they belong.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "includeBreadcrumb",
                        "in": "query",
                        "description": "Prepend a breadcrumb to each passage, containing the title and subtitle(s) the passage belongs to in the file. This option is ignored when the `consolidate` option is set to `true`.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/searchFilesResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/searchFilesResponse"
                    }
                }
            }
        },
        "/v1/files/{id}/passages": {
            "get": {
                "operationId": "listFilePassages",
                "description": "List passages for a file",
                "parameters": [
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "File ID or Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of passages to return per request (optional, default: 20, max: 200).",
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/listFilePassagesResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/listFilePassagesResponse"
                    }
                }
            },
            "put": {
                "operationId": "setFilePassages",
                "description": "Sets the indexed file passages asynchronously. All existing indexed passages will be deleted as soon as the indexing begins. This endpoint will return immediately and set the file status to \"indexing_pending\". Once the new passages are indexed the file status will be set to \"indexing_completed\", or \"indexing_failed\" if the passages failed to be indexed.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "File ID or Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setFilePassagesResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/setFilePassagesResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/setFilePassagesBody"
                }
            }
        },
        "/v1/files/tags": {
            "get": {
                "operationId": "listFileTags",
                "description": "List available tags",
                "parameters": [
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/listFileTagsResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/listFileTagsResponse"
                    }
                }
            }
        },
        "/v1/files/tags/{tag}/values": {
            "get": {
                "operationId": "listFileTagValues",
                "description": "List available tags",
                "parameters": [
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tag",
                        "in": "path",
                        "description": "Tag name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/listFileTagValuesResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/listFileTagValuesResponse"
                    }
                }
            }
        },
        "/v1/files/knowledge-bases": {
            "post": {
                "operationId": "createKnowledgeBase",
                "description": "Creates a knowledge base for grouping files.",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/createKnowledgeBaseResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/createKnowledgeBaseResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/createKnowledgeBaseBody"
                }
            },
            "get": {
                "operationId": "listKnowledgeBases",
                "description": "List knowledge bases for bot",
                "parameters": [
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/listKnowledgeBasesResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/listKnowledgeBasesResponse"
                    }
                }
            }
        },
        "/v1/files/knowledge-bases/{id}": {
            "delete": {
                "operationId": "deleteKnowledgeBase",
                "description": "Deletes a knowledge base.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Knowledge base ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/deleteKnowledgeBaseResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/deleteKnowledgeBaseResponse"
                    }
                }
            },
            "put": {
                "operationId": "updateKnowledgeBase",
                "description": "Updates a knowledge base.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Knowledge base ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/updateKnowledgeBaseResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/updateKnowledgeBaseResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/updateKnowledgeBaseBody"
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "BearerAuth": {
                "type": "http",
                "scheme": "bearer"
            },
            "BotIdHeader": {
                "type": "apiKey",
                "in": "header",
                "name": "x-bot-id",
                "description": "Your bot ID."
            }
        },
        "schemas": {
            "File": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "File ID"
                    },
                    "botId": {
                        "type": "string",
                        "description": "The ID of the bot the file belongs to"
                    },
                    "key": {
                        "type": "string",
                        "description": "Unique key for the file. Must be unique across the bot (and the integration, when applicable)."
                    },
                    "url": {
                        "type": "string",
                        "description": "URL to retrieve the file content. This URL will be ready to use once the file is uploaded.\n\nIf the file has a `public_content` policy, this will contain the permanent public URL to retrieve the file; otherwise, this will contain a temporary pre-signed URL to download the file which should be used shortly after retrieving and should not be stored long-term as the URL will expire after a short timeframe."
                    },
                    "size": {
                        "type": "number",
                        "description": "File size in bytes. Non-null if file upload status is \"COMPLETE\".",
                        "nullable": true
                    },
                    "contentType": {
                        "type": "string",
                        "description": "MIME type of the file's content"
                    },
                    "tags": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "maxLength": 1000
                        },
                        "description": "The tags of the file as an object of key/value pairs"
                    },
                    "metadata": {
                        "type": "object",
                        "additionalProperties": {
                            "nullable": true
                        },
                        "description": "Metadata of the file as an object of key/value pairs. The values can be of any type."
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "File creation timestamp in ISO 8601 format"
                    },
                    "updatedAt": {
                        "type": "string",
                        "description": "File last update timestamp in ISO 8601 format"
                    },
                    "accessPolicies": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "integrations",
                                "public_content"
                            ]
                        },
                        "description": "Access policies configured for the file."
                    },
                    "index": {
                        "type": "boolean",
                        "description": "Whether the file was requested to be indexed for search or not."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "upload_pending",
                            "upload_failed",
                            "upload_completed",
                            "indexing_pending",
                            "indexing_failed",
                            "indexing_completed"
                        ],
                        "description": "Status of the file. If the status is `upload_pending`, the file content has not been uploaded yet. The status will be set to `upload_completed` once the file content has been uploaded successfully.\n\nIf the upload failed for any reason (e.g. exceeding the storage quota or the maximum file size limit) the status will be set to `upload_failed` and the reason for the failure will be available in the `failedStatusReason` field of the file.\n\nHowever, if the file has been uploaded and the `index` attribute was set to `true` on the file, the status will immediately transition to the `indexing_pending` status (the `upload_completed` status step will be skipped).\n\nOnce the indexing is completed and the file is ready to be used for searching its status will be set to `indexing_completed`. If the indexing failed the status will be set to `indexing_failed` and the reason for the failure will be available in the `failedStatusReason` field."
                    },
                    "failedStatusReason": {
                        "type": "string",
                        "description": "If the file status is `upload_failed` or `indexing_failed` this will contain the reason of the failure."
                    },
                    "expiresAt": {
                        "type": "string",
                        "description": "File expiry timestamp in ISO 8601 format"
                    },
                    "owner": {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "enum": [
                                    "bot",
                                    "integration",
                                    "user"
                                ]
                            },
                            "id": {
                                "type": "string",
                                "description": "This field is present if `type` is \"user\" or \"bot\". If `type` is \"user\", this is the user ID. If `type` is \"bot\", this is the bot ID."
                            },
                            "name": {
                                "type": "string",
                                "description": "This field is present if the `type` is \"integration\". If `type` is \"integration\", this is the integration name."
                            }
                        },
                        "required": [
                            "type"
                        ],
                        "additionalProperties": false
                    }
                },
                "required": [
                    "id",
                    "botId",
                    "key",
                    "url",
                    "size",
                    "contentType",
                    "tags",
                    "metadata",
                    "createdAt",
                    "updatedAt",
                    "accessPolicies",
                    "index",
                    "status",
                    "owner"
                ],
                "additionalProperties": false
            }
        },
        "responses": {
            "upsertFileResponse": {
                "description": "The created or updated file",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "file": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "File ID"
                                        },
                                        "botId": {
                                            "type": "string",
                                            "description": "The ID of the bot the file belongs to"
                                        },
                                        "key": {
                                            "type": "string",
                                            "description": "Unique key for the file. Must be unique across the bot (and the integration, when applicable)."
                                        },
                                        "url": {
                                            "type": "string",
                                            "description": "URL to retrieve the file content. This URL will be ready to use once the file is uploaded.\n\nIf the file has a `public_content` policy, this will contain the permanent public URL to retrieve the file; otherwise, this will contain a temporary pre-signed URL to download the file which should be used shortly after retrieving and should not be stored long-term as the URL will expire after a short timeframe."
                                        },
                                        "size": {
                                            "type": "number",
                                            "description": "File size in bytes. Non-null if file upload status is \"COMPLETE\".",
                                            "nullable": true
                                        },
                                        "contentType": {
                                            "type": "string",
                                            "description": "MIME type of the file's content"
                                        },
                                        "tags": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string",
                                                "maxLength": 1000
                                            },
                                            "description": "The tags of the file as an object of key/value pairs"
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "nullable": true
                                            },
                                            "description": "Metadata of the file as an object of key/value pairs. The values can be of any type."
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "description": "File creation timestamp in ISO 8601 format"
                                        },
                                        "updatedAt": {
                                            "type": "string",
                                            "description": "File last update timestamp in ISO 8601 format"
                                        },
                                        "accessPolicies": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "enum": [
                                                    "integrations",
                                                    "public_content"
                                                ]
                                            },
                                            "description": "Access policies configured for the file."
                                        },
                                        "index": {
                                            "type": "boolean",
                                            "description": "Whether the file was requested to be indexed for search or not."
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "upload_pending",
                                                "upload_failed",
                                                "upload_completed",
                                                "indexing_pending",
                                                "indexing_failed",
                                                "indexing_completed"
                                            ],
                                            "description": "Status of the file. If the status is `upload_pending`, the file content has not been uploaded yet. The status will be set to `upload_completed` once the file content has been uploaded successfully.\n\nIf the upload failed for any reason (e.g. exceeding the storage quota or the maximum file size limit) the status will be set to `upload_failed` and the reason for the failure will be available in the `failedStatusReason` field of the file.\n\nHowever, if the file has been uploaded and the `index` attribute was set to `true` on the file, the status will immediately transition to the `indexing_pending` status (the `upload_completed` status step will be skipped).\n\nOnce the indexing is completed and the file is ready to be used for searching its status will be set to `indexing_completed`. If the indexing failed the status will be set to `indexing_failed` and the reason for the failure will be available in the `failedStatusReason` field."
                                        },
                                        "failedStatusReason": {
                                            "type": "string",
                                            "description": "If the file status is `upload_failed` or `indexing_failed` this will contain the reason of the failure."
                                        },
                                        "expiresAt": {
                                            "type": "string",
                                            "description": "File expiry timestamp in ISO 8601 format"
                                        },
                                        "owner": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "bot",
                                                        "integration",
                                                        "user"
                                                    ]
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "description": "This field is present if `type` is \"user\" or \"bot\". If `type` is \"user\", this is the user ID. If `type` is \"bot\", this is the bot ID."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": "This field is present if the `type` is \"integration\". If `type` is \"integration\", this is the integration name."
                                                }
                                            },
                                            "required": [
                                                "type"
                                            ],
                                            "additionalProperties": false
                                        },
                                        "uploadUrl": {
                                            "type": "string",
                                            "description": "URL to upload the file content. File content needs to be sent to this URL via a PUT request."
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "botId",
                                        "key",
                                        "url",
                                        "size",
                                        "contentType",
                                        "tags",
                                        "metadata",
                                        "createdAt",
                                        "updatedAt",
                                        "accessPolicies",
                                        "index",
                                        "status",
                                        "owner",
                                        "uploadUrl"
                                    ],
                                    "additionalProperties": false
                                }
                            },
                            "required": [
                                "file"
                            ],
                            "title": "upsertFileResponse",
                            "additionalProperties": false
                        }
                    }
                }
            },
            "deleteFileResponse": {
                "description": "Empty response.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "title": "deleteFileResponse",
                            "additionalProperties": false
                        }
                    }
                }
            },
            "listFilesResponse": {
                "description": "Returns the list of files related to the bot.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "files": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "description": "File ID"
                                            },
                                            "botId": {
                                                "type": "string",
                                                "description": "The ID of the bot the file belongs to"
                                            },
                                            "key": {
                                                "type": "string",
                                                "description": "Unique key for the file. Must be unique across the bot (and the integration, when applicable)."
                                            },
                                            "url": {
                                                "type": "string",
                                                "description": "URL to retrieve the file content. This URL will be ready to use once the file is uploaded.\n\nIf the file has a `public_content` policy, this will contain the permanent public URL to retrieve the file; otherwise, this will contain a temporary pre-signed URL to download the file which should be used shortly after retrieving and should not be stored long-term as the URL will expire after a short timeframe."
                                            },
                                            "size": {
                                                "type": "number",
                                                "description": "File size in bytes. Non-null if file upload status is \"COMPLETE\".",
                                                "nullable": true
                                            },
                                            "contentType": {
                                                "type": "string",
                                                "description": "MIME type of the file's content"
                                            },
                                            "tags": {
                                                "type": "object",
                                                "additionalProperties": {
                                                    "type": "string",
                                                    "maxLength": 1000
                                                },
                                                "description": "The tags of the file as an object of key/value pairs"
                                            },
                                            "metadata": {
                                                "type": "object",
                                                "additionalProperties": {
                                                    "nullable": true
                                                },
                                                "description": "Metadata of the file as an object of key/value pairs. The values can be of any type."
                                            },
                                            "createdAt": {
                                                "type": "string",
                                                "description": "File creation timestamp in ISO 8601 format"
                                            },
                                            "updatedAt": {
                                                "type": "string",
                                                "description": "File last update timestamp in ISO 8601 format"
                                            },
                                            "accessPolicies": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string",
                                                    "enum": [
                                                        "integrations",
                                                        "public_content"
                                                    ]
                                                },
                                                "description": "Access policies configured for the file."
                                            },
                                            "index": {
                                                "type": "boolean",
                                                "description": "Whether the file was requested to be indexed for search or not."
                                            },
                                            "status": {
                                                "type": "string",
                                                "enum": [
                                                    "upload_pending",
                                                    "upload_failed",
                                                    "upload_completed",
                                                    "indexing_pending",
                                                    "indexing_failed",
                                                    "indexing_completed"
                                                ],
                                                "description": "Status of the file. If the status is `upload_pending`, the file content has not been uploaded yet. The status will be set to `upload_completed` once the file content has been uploaded successfully.\n\nIf the upload failed for any reason (e.g. exceeding the storage quota or the maximum file size limit) the status will be set to `upload_failed` and the reason for the failure will be available in the `failedStatusReason` field of the file.\n\nHowever, if the file has been uploaded and the `index` attribute was set to `true` on the file, the status will immediately transition to the `indexing_pending` status (the `upload_completed` status step will be skipped).\n\nOnce the indexing is completed and the file is ready to be used for searching its status will be set to `indexing_completed`. If the indexing failed the status will be set to `indexing_failed` and the reason for the failure will be available in the `failedStatusReason` field."
                                            },
                                            "failedStatusReason": {
                                                "type": "string",
                                                "description": "If the file status is `upload_failed` or `indexing_failed` this will contain the reason of the failure."
                                            },
                                            "expiresAt": {
                                                "type": "string",
                                                "description": "File expiry timestamp in ISO 8601 format"
                                            },
                                            "owner": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "bot",
                                                            "integration",
                                                            "user"
                                                        ]
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "description": "This field is present if `type` is \"user\" or \"bot\". If `type` is \"user\", this is the user ID. If `type` is \"bot\", this is the bot ID."
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "description": "This field is present if the `type` is \"integration\". If `type` is \"integration\", this is the integration name."
                                                    }
                                                },
                                                "required": [
                                                    "type"
                                                ]
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "botId",
                                            "key",
                                            "url",
                                            "size",
                                            "contentType",
                                            "tags",
                                            "metadata",
                                            "createdAt",
                                            "updatedAt",
                                            "accessPolicies",
                                            "index",
                                            "status",
                                            "owner"
                                        ]
                                    }
                                },
                                "meta": {
                                    "type": "object",
                                    "properties": {
                                        "nextToken": {
                                            "type": "string",
                                            "description": "The token to use to retrieve the next page of results, passed as a query string parameter (value should be URL-encoded) to this API endpoint."
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            },
                            "required": [
                                "files",
                                "meta"
                            ],
                            "title": "listFilesResponse",
                            "additionalProperties": false
                        }
                    }
                }
            },
            "getFileResponse": {
                "description": "An object containing the file metadata and URL",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "file": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "File ID"
                                        },
                                        "botId": {
                                            "type": "string",
                                            "description": "The ID of the bot the file belongs to"
                                        },
                                        "key": {
                                            "type": "string",
                                            "description": "Unique key for the file. Must be unique across the bot (and the integration, when applicable)."
                                        },
                                        "url": {
                                            "type": "string",
                                            "description": "URL to retrieve the file content. This URL will be ready to use once the file is uploaded.\n\nIf the file has a `public_content` policy, this will contain the permanent public URL to retrieve the file; otherwise, this will contain a temporary pre-signed URL to download the file which should be used shortly after retrieving and should not be stored long-term as the URL will expire after a short timeframe."
                                        },
                                        "size": {
                                            "type": "number",
                                            "description": "File size in bytes. Non-null if file upload status is \"COMPLETE\".",
                                            "nullable": true
                                        },
                                        "contentType": {
                                            "type": "string",
                                            "description": "MIME type of the file's content"
                                        },
                                        "tags": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string",
                                                "maxLength": 1000
                                            },
                                            "description": "The tags of the file as an object of key/value pairs"
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "nullable": true
                                            },
                                            "description": "Metadata of the file as an object of key/value pairs. The values can be of any type."
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "description": "File creation timestamp in ISO 8601 format"
                                        },
                                        "updatedAt": {
                                            "type": "string",
                                            "description": "File last update timestamp in ISO 8601 format"
                                        },
                                        "accessPolicies": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "enum": [
                                                    "integrations",
                                                    "public_content"
                                                ]
                                            },
                                            "description": "Access policies configured for the file."
                                        },
                                        "index": {
                                            "type": "boolean",
                                            "description": "Whether the file was requested to be indexed for search or not."
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "upload_pending",
                                                "upload_failed",
                                                "upload_completed",
                                                "indexing_pending",
                                                "indexing_failed",
                                                "indexing_completed"
                                            ],
                                            "description": "Status of the file. If the status is `upload_pending`, the file content has not been uploaded yet. The status will be set to `upload_completed` once the file content has been uploaded successfully.\n\nIf the upload failed for any reason (e.g. exceeding the storage quota or the maximum file size limit) the status will be set to `upload_failed` and the reason for the failure will be available in the `failedStatusReason` field of the file.\n\nHowever, if the file has been uploaded and the `index` attribute was set to `true` on the file, the status will immediately transition to the `indexing_pending` status (the `upload_completed` status step will be skipped).\n\nOnce the indexing is completed and the file is ready to be used for searching its status will be set to `indexing_completed`. If the indexing failed the status will be set to `indexing_failed` and the reason for the failure will be available in the `failedStatusReason` field."
                                        },
                                        "failedStatusReason": {
                                            "type": "string",
                                            "description": "If the file status is `upload_failed` or `indexing_failed` this will contain the reason of the failure."
                                        },
                                        "expiresAt": {
                                            "type": "string",
                                            "description": "File expiry timestamp in ISO 8601 format"
                                        },
                                        "owner": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "bot",
                                                        "integration",
                                                        "user"
                                                    ]
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "description": "This field is present if `type` is \"user\" or \"bot\". If `type` is \"user\", this is the user ID. If `type` is \"bot\", this is the bot ID."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": "This field is present if the `type` is \"integration\". If `type` is \"integration\", this is the integration name."
                                                }
                                            },
                                            "required": [
                                                "type"
                                            ],
                                            "additionalProperties": false
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "botId",
                                        "key",
                                        "url",
                                        "size",
                                        "contentType",
                                        "tags",
                                        "metadata",
                                        "createdAt",
                                        "updatedAt",
                                        "accessPolicies",
                                        "index",
                                        "status",
                                        "owner"
                                    ],
                                    "additionalProperties": false
                                }
                            },
                            "required": [
                                "file"
                            ],
                            "title": "getFileResponse",
                            "additionalProperties": false
                        }
                    }
                }
            },
            "updateFileMetadataResponse": {
                "description": "An object containing the updated file metadata.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "file": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "File ID"
                                        },
                                        "botId": {
                                            "type": "string",
                                            "description": "The ID of the bot the file belongs to"
                                        },
                                        "key": {
                                            "type": "string",
                                            "description": "Unique key for the file. Must be unique across the bot (and the integration, when applicable)."
                                        },
                                        "url": {
                                            "type": "string",
                                            "description": "URL to retrieve the file content. This URL will be ready to use once the file is uploaded.\n\nIf the file has a `public_content` policy, this will contain the permanent public URL to retrieve the file; otherwise, this will contain a temporary pre-signed URL to download the file which should be used shortly after retrieving and should not be stored long-term as the URL will expire after a short timeframe."
                                        },
                                        "size": {
                                            "type": "number",
                                            "description": "File size in bytes. Non-null if file upload status is \"COMPLETE\".",
                                            "nullable": true
                                        },
                                        "contentType": {
                                            "type": "string",
                                            "description": "MIME type of the file's content"
                                        },
                                        "tags": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string",
                                                "maxLength": 1000
                                            },
                                            "description": "The tags of the file as an object of key/value pairs"
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "nullable": true
                                            },
                                            "description": "Metadata of the file as an object of key/value pairs. The values can be of any type."
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "description": "File creation timestamp in ISO 8601 format"
                                        },
                                        "updatedAt": {
                                            "type": "string",
                                            "description": "File last update timestamp in ISO 8601 format"
                                        },
                                        "accessPolicies": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "enum": [
                                                    "integrations",
                                                    "public_content"
                                                ]
                                            },
                                            "description": "Access policies configured for the file."
                                        },
                                        "index": {
                                            "type": "boolean",
                                            "description": "Whether the file was requested to be indexed for search or not."
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "upload_pending",
                                                "upload_failed",
                                                "upload_completed",
                                                "indexing_pending",
                                                "indexing_failed",
                                                "indexing_completed"
                                            ],
                                            "description": "Status of the file. If the status is `upload_pending`, the file content has not been uploaded yet. The status will be set to `upload_completed` once the file content has been uploaded successfully.\n\nIf the upload failed for any reason (e.g. exceeding the storage quota or the maximum file size limit) the status will be set to `upload_failed` and the reason for the failure will be available in the `failedStatusReason` field of the file.\n\nHowever, if the file has been uploaded and the `index` attribute was set to `true` on the file, the status will immediately transition to the `indexing_pending` status (the `upload_completed` status step will be skipped).\n\nOnce the indexing is completed and the file is ready to be used for searching its status will be set to `indexing_completed`. If the indexing failed the status will be set to `indexing_failed` and the reason for the failure will be available in the `failedStatusReason` field."
                                        },
                                        "failedStatusReason": {
                                            "type": "string",
                                            "description": "If the file status is `upload_failed` or `indexing_failed` this will contain the reason of the failure."
                                        },
                                        "expiresAt": {
                                            "type": "string",
                                            "description": "File expiry timestamp in ISO 8601 format"
                                        },
                                        "owner": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "bot",
                                                        "integration",
                                                        "user"
                                                    ]
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "description": "This field is present if `type` is \"user\" or \"bot\". If `type` is \"user\", this is the user ID. If `type` is \"bot\", this is the bot ID."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": "This field is present if the `type` is \"integration\". If `type` is \"integration\", this is the integration name."
                                                }
                                            },
                                            "required": [
                                                "type"
                                            ],
                                            "additionalProperties": false
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "botId",
                                        "key",
                                        "url",
                                        "size",
                                        "contentType",
                                        "tags",
                                        "metadata",
                                        "createdAt",
                                        "updatedAt",
                                        "accessPolicies",
                                        "index",
                                        "status",
                                        "owner"
                                    ],
                                    "additionalProperties": false
                                }
                            },
                            "required": [
                                "file"
                            ],
                            "title": "updateFileMetadataResponse",
                            "additionalProperties": false
                        }
                    }
                }
            },
            "copyFileResponse": {
                "description": "An object containing the file metadata and URL",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "file": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "File ID"
                                        },
                                        "botId": {
                                            "type": "string",
                                            "description": "The ID of the bot the file belongs to"
                                        },
                                        "key": {
                                            "type": "string",
                                            "description": "Unique key for the file. Must be unique across the bot (and the integration, when applicable)."
                                        },
                                        "url": {
                                            "type": "string",
                                            "description": "URL to retrieve the file content. This URL will be ready to use once the file is uploaded.\n\nIf the file has a `public_content` policy, this will contain the permanent public URL to retrieve the file; otherwise, this will contain a temporary pre-signed URL to download the file which should be used shortly after retrieving and should not be stored long-term as the URL will expire after a short timeframe."
                                        },
                                        "size": {
                                            "type": "number",
                                            "description": "File size in bytes. Non-null if file upload status is \"COMPLETE\".",
                                            "nullable": true
                                        },
                                        "contentType": {
                                            "type": "string",
                                            "description": "MIME type of the file's content"
                                        },
                                        "tags": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string",
                                                "maxLength": 1000
                                            },
                                            "description": "The tags of the file as an object of key/value pairs"
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "nullable": true
                                            },
                                            "description": "Metadata of the file as an object of key/value pairs. The values can be of any type."
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "description": "File creation timestamp in ISO 8601 format"
                                        },
                                        "updatedAt": {
                                            "type": "string",
                                            "description": "File last update timestamp in ISO 8601 format"
                                        },
                                        "accessPolicies": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "enum": [
                                                    "integrations",
                                                    "public_content"
                                                ]
                                            },
                                            "description": "Access policies configured for the file."
                                        },
                                        "index": {
                                            "type": "boolean",
                                            "description": "Whether the file was requested to be indexed for search or not."
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "upload_pending",
                                                "upload_failed",
                                                "upload_completed",
                                                "indexing_pending",
                                                "indexing_failed",
                                                "indexing_completed"
                                            ],
                                            "description": "Status of the file. If the status is `upload_pending`, the file content has not been uploaded yet. The status will be set to `upload_completed` once the file content has been uploaded successfully.\n\nIf the upload failed for any reason (e.g. exceeding the storage quota or the maximum file size limit) the status will be set to `upload_failed` and the reason for the failure will be available in the `failedStatusReason` field of the file.\n\nHowever, if the file has been uploaded and the `index` attribute was set to `true` on the file, the status will immediately transition to the `indexing_pending` status (the `upload_completed` status step will be skipped).\n\nOnce the indexing is completed and the file is ready to be used for searching its status will be set to `indexing_completed`. If the indexing failed the status will be set to `indexing_failed` and the reason for the failure will be available in the `failedStatusReason` field."
                                        },
                                        "failedStatusReason": {
                                            "type": "string",
                                            "description": "If the file status is `upload_failed` or `indexing_failed` this will contain the reason of the failure."
                                        },
                                        "expiresAt": {
                                            "type": "string",
                                            "description": "File expiry timestamp in ISO 8601 format"
                                        },
                                        "owner": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "bot",
                                                        "integration",
                                                        "user"
                                                    ]
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "description": "This field is present if `type` is \"user\" or \"bot\". If `type` is \"user\", this is the user ID. If `type` is \"bot\", this is the bot ID."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "description": "This field is present if the `type` is \"integration\". If `type` is \"integration\", this is the integration name."
                                                }
                                            },
                                            "required": [
                                                "type"
                                            ],
                                            "additionalProperties": false
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "botId",
                                        "key",
                                        "url",
                                        "size",
                                        "contentType",
                                        "tags",
                                        "metadata",
                                        "createdAt",
                                        "updatedAt",
                                        "accessPolicies",
                                        "index",
                                        "status",
                                        "owner"
                                    ],
                                    "additionalProperties": false
                                }
                            },
                            "required": [
                                "file"
                            ],
                            "title": "copyFileResponse",
                            "additionalProperties": false
                        }
                    }
                }
            },
            "searchFilesResponse": {
                "description": "Returns the text passages within all indexed files that matched the query.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "passages": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "content": {
                                                "type": "string",
                                                "description": "The content of the matching passage in the file including surrounding context, if any."
                                            },
                                            "score": {
                                                "type": "number",
                                                "description": "The score indicating the similarity of the passage to the query. A higher score indicates higher similarity."
                                            },
                                            "meta": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "chunk",
                                                            "summary",
                                                            "consolidated",
                                                            "image"
                                                        ],
                                                        "description": "The type of passage"
                                                    },
                                                    "subtype": {
                                                        "type": "string",
                                                        "enum": [
                                                            "title",
                                                            "subtitle",
                                                            "paragraph",
                                                            "blockquote",
                                                            "list",
                                                            "table",
                                                            "code",
                                                            "image",
                                                            "page"
                                                        ],
                                                        "description": "The subtype of passage, if available."
                                                    },
                                                    "pageNumber": {
                                                        "type": "integer",
                                                        "description": "Page number the passage is located on. Only applicable if the passage was extracted from a PDF file."
                                                    },
                                                    "position": {
                                                        "type": "integer",
                                                        "description": "Position number of the passage in the file relative to the other passages, if available. Can be used to know the order of passages within a file."
                                                    },
                                                    "sourceUrl": {
                                                        "type": "string",
                                                        "format": "uri",
                                                        "description": "The URL of the source file for the vector, if applicable (e.g. for image vectors)."
                                                    }
                                                },
                                                "description": "The passage metadata."
                                            },
                                            "file": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "File ID"
                                                    },
                                                    "key": {
                                                        "type": "string",
                                                        "description": "Unique key for the file. Must be unique across the bot (and the integration, when applicable)."
                                                    },
                                                    "contentType": {
                                                        "type": "string",
                                                        "description": "MIME type of the file's content"
                                                    },
                                                    "tags": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string",
                                                            "maxLength": 1000
                                                        },
                                                        "description": "The tags of the file as an object of key-value pairs."
                                                    },
                                                    "createdAt": {
                                                        "type": "string",
                                                        "description": "File creation timestamp in ISO 8601 format"
                                                    },
                                                    "updatedAt": {
                                                        "type": "string",
                                                        "description": "File last update timestamp in ISO 8601 format"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "key",
                                                    "contentType",
                                                    "tags",
                                                    "createdAt",
                                                    "updatedAt"
                                                ]
                                            },
                                            "context": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "text": {
                                                            "type": "string"
                                                        },
                                                        "offset": {
                                                            "type": "integer",
                                                            "description": "Position of the context passage relative to the current passage. Negative for preceding passages, positive for subsequent, omitted for breadcrumbs."
                                                        },
                                                        "type": {
                                                            "type": "string",
                                                            "enum": [
                                                                "preceding",
                                                                "subsequent",
                                                                "breadcrumb"
                                                            ],
                                                            "description": "The type of context passage"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "text",
                                                        "type"
                                                    ]
                                                }
                                            }
                                        },
                                        "required": [
                                            "content",
                                            "score",
                                            "meta",
                                            "file"
                                        ]
                                    }
                                }
                            },
                            "required": [
                                "passages"
                            ],
                            "title": "searchFilesResponse",
                            "additionalProperties": false
                        }
                    }
                }
            },
            "listFilePassagesResponse": {
                "description": "Returns the list of passages extracted from a file.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "passages": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "description": "Passage ID"
                                            },
                                            "content": {
                                                "type": "string",
                                                "description": "The content of the passage."
                                            },
                                            "meta": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "chunk",
                                                            "summary",
                                                            "consolidated",
                                                            "image"
                                                        ],
                                                        "description": "The type of passage"
                                                    },
                                                    "subtype": {
                                                        "type": "string",
                                                        "enum": [
                                                            "title",
                                                            "subtitle",
                                                            "paragraph",
                                                            "blockquote",
                                                            "list",
                                                            "table",
                                                            "code",
                                                            "image",
                                                            "page"
                                                        ],
                                                        "description": "The subtype of passage, if available."
                                                    },
                                                    "pageNumber": {
                                                        "type": "integer",
                                                        "description": "Page number the passage is located on. Only applicable if the passage was extracted from a PDF file."
                                                    },
                                                    "position": {
                                                        "type": "integer",
                                                        "description": "Position number of the passage in the file relative to the other passages, if available. Can be used to know the order of passages within a file."
                                                    },
                                                    "sourceUrl": {
                                                        "type": "string",
                                                        "format": "uri",
                                                        "description": "The URL of the source file for the vector, if applicable (e.g. for image vectors)."
                                                    }
                                                },
                                                "description": "The passage metadata."
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "content",
                                            "meta"
                                        ]
                                    }
                                },
                                "meta": {
                                    "type": "object",
                                    "properties": {
                                        "nextToken": {
                                            "type": "string",
                                            "description": "The token to use to retrieve the next page of results, passed as a query string parameter (value should be URL-encoded) to this API endpoint."
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            },
                            "required": [
                                "passages",
                                "meta"
                            ],
                            "title": "listFilePassagesResponse",
                            "additionalProperties": false
                        }
                    }
                }
            },
            "setFilePassagesResponse": {
                "description": "Empty response.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "title": "setFilePassagesResponse",
                            "additionalProperties": false
                        }
                    }
                }
            },
            "listFileTagsResponse": {
                "description": "Returns the list of available tags used across all files of the bot.",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "tags": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "meta": {
                                    "type": "object",
                                    "properties": {
                                        "nextToken": {
                                            "type": "string",
                                            "description": "The token to use to retrieve the next page of results, passed as a query string parameter (value should be URL-encoded) to this API endpoint."
                                        }
                                    },
                                    "additionalProperties": false
                                }
                            },
                            "required": [
                                "tags",
                                "meta"
                            ],
                            "title": "listFileTagsResponse",
                            "additionalProperties": false
                        }
                    }
                }
            },
            "listFileTagValuesResponse": {
                "description": "Returns the list of available values used for a given tag across all files of the bot.",
                "content": {
[...]
