{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.botpress.cloud"
        }
    ],
    "info": {
        "title": "Botpress API",
        "description": "API for Botpress Cloud",
        "version": "1.1.0"
    },
    "paths": {
        "/v1/chat/conversations": {
            "post": {
                "operationId": "createConversation",
                "description": "Creates a new [Conversation](#schema_conversation). When creating a new [Conversation](#schema_conversation), the required tags must be provided. See the specific integration for more details.",
                "parameters": [],
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/createConversationResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/createConversationResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/createConversationBody"
                }
            },
            "get": {
                "operationId": "listConversations",
                "description": "Retrieves a list of [Conversation](#schema_conversation) you’ve previously created. The conversations are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](#tags).",
                "parameters": [
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sortField",
                        "in": "query",
                        "description": "Sort results by this field",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "createdAt",
                                "updatedAt"
                            ]
                        }
                    },
                    {
                        "name": "sortDirection",
                        "in": "query",
                        "description": "Sort results in this direction",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Filter by tags",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "participantIds",
                        "in": "query",
                        "description": "Filter by participant ids",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "integrationName",
                        "in": "query",
                        "description": "Filter by integration name",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "Filter by integration channel name",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/listConversationsResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/listConversationsResponse"
                    }
                }
            }
        },
        "/v1/chat/conversations/{id}": {
            "get": {
                "operationId": "getConversation",
                "description": "Retrieves the [Conversation](#schema_conversation) object for a valid identifier.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Conversation id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getConversationResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getConversationResponse"
                    }
                }
            },
            "put": {
                "operationId": "updateConversation",
                "description": "Update a [Conversation](#schema_conversation) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Conversation id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/updateConversationResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/updateConversationResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/updateConversationBody"
                }
            },
            "delete": {
                "operationId": "deleteConversation",
                "description": "Permanently deletes a [Conversation](#schema_conversation). It cannot be undone. Also immediately deletes corresponding [Messages](#schema_message).",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Conversation id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/deleteConversationResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/deleteConversationResponse"
                    }
                }
            }
        },
        "/v1/chat/conversations/get-or-create": {
            "post": {
                "operationId": "getOrCreateConversation",
                "description": "Retrieves the [Conversation](#schema_conversation) object for a valid identifier. If the conversation does not exist, it will be created.",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getOrCreateConversationResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getOrCreateConversationResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/getOrCreateConversationBody"
                }
            }
        },
        "/v1/chat/conversations/{id}/participants": {
            "get": {
                "operationId": "listParticipants",
                "description": "Retrieves a list of [Participant](#schema_participant) for a given [Conversation](#schema_conversation).",
                "parameters": [
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Conversation id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/listParticipantsResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/listParticipantsResponse"
                    }
                }
            },
            "post": {
                "operationId": "addParticipant",
                "description": "Add a [Participant](#schema_participant) to a [Conversation](#schema_conversation).",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Conversation id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/addParticipantResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/addParticipantResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/addParticipantBody"
                }
            }
        },
        "/v1/chat/conversations/{id}/participants/{userId}": {
            "get": {
                "operationId": "getParticipant",
                "description": "Retrieves a [Participant](#schema_participant) from a [Conversation](#schema_conversation).",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Conversation id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getParticipantResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getParticipantResponse"
                    }
                }
            },
            "delete": {
                "operationId": "removeParticipant",
                "description": "Remove a [Participant](#schema_participant) from a [Conversation](#schema_conversation).",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Conversation id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/removeParticipantResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/removeParticipantResponse"
                    }
                }
            }
        },
        "/v1/chat/events": {
            "post": {
                "operationId": "createEvent",
                "description": "Creates a new [Event](#schema_event). When creating a new [Event](#schema_event), the required tags must be provided. See the specific integration for more details.",
                "parameters": [],
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/createEventResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/createEventResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/createEventBody"
                }
            },
            "get": {
                "operationId": "listEvents",
                "description": "Retrieves a list of [Event](#schema_event) you’ve previously created. The events are returned in sorted order, with the most recent appearing first.",
                "parameters": [
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter by event type",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "conversationId",
                        "in": "query",
                        "description": "Filter by conversation id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "Filter by user id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "query",
                        "description": "Filter by message id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status. Allowed values: pending, ignored, processed, failed.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "ignored",
                                "processed",
                                "failed",
                                "scheduled"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/listEventsResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/listEventsResponse"
                    }
                }
            }
        },
        "/v1/chat/events/{id}": {
            "get": {
                "operationId": "getEvent",
                "description": "Retrieves the [Event](#schema_event) object for a valid identifiers.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Event id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getEventResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getEventResponse"
                    }
                }
            }
        },
        "/v1/chat/messages": {
            "post": {
                "operationId": "createMessage",
                "description": "Creates a new [Message](#schema_message). When creating a new [Message](#schema_message), the required tags must be provided. See the specific integration for more details.",
                "parameters": [],
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/createMessageResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/createMessageResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/createMessageBody"
                }
            },
            "get": {
                "operationId": "listMessages",
                "description": "Retrieves a list of [Message](#schema_message) you’ve previously created. The messages are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).",
                "parameters": [
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "conversationId",
                        "in": "query",
                        "description": "Conversation id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Filter by tags",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/listMessagesResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/listMessagesResponse"
                    }
                }
            }
        },
        "/v1/chat/messages/get-or-create": {
            "post": {
                "operationId": "getOrCreateMessage",
                "description": "Retrieves the [Message](#schema_message) object for a valid identifier. If the message does not exist, it will be created.",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getOrCreateMessageResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getOrCreateMessageResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/getOrCreateMessageBody"
                }
            }
        },
        "/v1/chat/messages/{id}": {
            "get": {
                "operationId": "getMessage",
                "description": "Retrieves the [Message](#schema_message) object for a valid identifier.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the Message",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getMessageResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getMessageResponse"
                    }
                }
            },
            "put": {
                "operationId": "updateMessage",
                "description": "Updates a message tags and payload. The message type cannot be changed. Calling this operation from an integration, to update an incoming message, will not invoke the bot. The other way around it also true; Calling this operation from the bot, to update an outgoing message, will not invoke the integration.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Message id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/updateMessageResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/updateMessageResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/updateMessageBody"
                }
            },
            "delete": {
                "operationId": "deleteMessage",
                "description": "Permanently deletes a [Message](#schema_message). It cannot be undone.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Message id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/deleteMessageResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/deleteMessageResponse"
                    }
                }
            }
        },
        "/v1/chat/users": {
            "post": {
                "operationId": "createUser",
                "description": "Creates a new [User](#schema_user). When creating a new [User](#schema_user), the required tags must be provided. See the specific integration for more details.",
                "parameters": [],
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/createUserResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/createUserResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/createUserBody"
                }
            },
            "get": {
                "operationId": "listUsers",
                "description": "Retrieves a list of [User](#schema_user) previously created. The users are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).",
                "parameters": [
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "conversationId",
                        "in": "query",
                        "description": "Filter by conversation id. This will return all users that have participated in the conversation.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Filter by tags",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/listUsersResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/listUsersResponse"
                    }
                }
            }
        },
        "/v1/chat/users/{id}": {
            "get": {
                "operationId": "getUser",
                "description": "Retrieves the [User](#schema_user) object for a valid identifier.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getUserResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getUserResponse"
                    }
                }
            },
            "put": {
                "operationId": "updateUser",
                "description": "Update a [User](#schema_user) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/updateUserResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/updateUserResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/updateUserBody"
                }
            },
            "delete": {
                "operationId": "deleteUser",
                "description": "Permanently deletes a [User](#schema_user). It cannot be undone.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/deleteUserResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/deleteUserResponse"
                    }
                }
            }
        },
        "/v1/chat/users/get-or-create": {
            "post": {
                "operationId": "getOrCreateUser",
                "description": "Retrieves the [User](#schema_user) object for a valid identifier. If the user does not exist, it will be created.",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getOrCreateUserResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getOrCreateUserResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/getOrCreateUserBody"
                }
            }
        },
        "/v1/chat/states/{type}/{id}/{name}/expiry": {
            "post": {
                "operationId": "setStateExpiry",
                "description": "Updates the [State](#schema_state) expiry.",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "State type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "conversation",
                                "user",
                                "bot",
                                "integration",
                                "task",
                                "workflow"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "State id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "State name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setStateExpiryResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/setStateExpiryResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/setStateExpiryBody"
                }
            }
        },
        "/v1/chat/states/{type}/{id}/{name}": {
            "get": {
                "operationId": "getState",
                "description": "Retrieves the [State](#schema_state) object for a valid identifiers.",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "State type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "conversation",
                                "user",
                                "bot",
                                "integration",
                                "task",
                                "workflow"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "State id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "State name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getStateResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getStateResponse"
                    }
                }
            },
            "post": {
                "operationId": "setState",
                "description": "Overrides the [State](#schema_state) object by setting the values of the parameters passed.",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "State type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "conversation",
                                "user",
                                "bot",
                                "integration",
                                "task",
                                "workflow"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "State id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "State name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/setStateResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/setStateResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/setStateBody"
                }
            },
            "patch": {
                "operationId": "patchState",
                "description": "Updates the [State](#schema_state) object by setting the values of the parameters passed.",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "State type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "conversation",
                                "user",
                                "bot",
                                "integration",
                                "task",
                                "workflow"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "State id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "State name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/patchStateResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/patchStateResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/patchStateBody"
                }
            }
        },
        "/v1/chat/states/{type}/{id}/{name}/get-or-set": {
            "post": {
                "operationId": "getOrSetState",
                "description": "Retrieves the [State](#schema_state) object for a valid identifiers. If the state does not exist, it creates a new state.",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "State type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "conversation",
                                "user",
                                "bot",
                                "integration",
                                "task",
                                "workflow"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "State id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "State name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getOrSetStateResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getOrSetStateResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/getOrSetStateBody"
                }
            }
        },
        "/v1/chat/actions": {
            "post": {
                "operationId": "callAction",
                "description": "Call an action",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/callActionResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/callActionResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/callActionBody"
                }
            }
        },
        "/v1/chat/integrations/configure": {
            "post": {
                "operationId": "configureIntegration",
                "description": "An integration can call this endpoint to configure itself",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/configureIntegrationResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/configureIntegrationResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/configureIntegrationBody"
                }
            }
        },
        "/v1/chat/tasks/{id}": {
            "get": {
                "operationId": "getTask",
                "description": "Retrieves the [Task](#schema_task) object for a valid identifier.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Task id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getTaskResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getTaskResponse"
                    }
                }
            },
            "put": {
                "operationId": "updateTask",
                "description": "Update a [Task](#schema_task) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Task id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/updateTaskResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/updateTaskResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/updateTaskBody"
                }
            },
            "delete": {
                "operationId": "deleteTask",
                "description": "Permanently deletes a [Task](#schema_task). It cannot be undone.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Task id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/deleteTaskResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/deleteTaskResponse"
                    }
                }
            }
        },
        "/v1/chat/tasks": {
            "post": {
                "operationId": "createTask",
                "description": "Creates a new [Task](#schema_task). When creating a new [Task](#schema_task), the required tags must be provided. See the specific integration for more details.",
                "parameters": [],
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/createTaskResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/createTaskResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/createTaskBody"
                }
            },
            "get": {
                "operationId": "listTasks",
                "description": "Retrieves a list of [Task](#schema_task) you've previously created. The tasks are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).",
                "parameters": [
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Filter by tags",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "conversationId",
                        "in": "query",
                        "description": "Conversation id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "User id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "parentTaskId",
                        "in": "query",
                        "description": "Parent task id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "pending",
                                    "in_progress",
                                    "failed",
                                    "completed",
                                    "blocked",
                                    "paused",
                                    "timeout",
                                    "cancelled"
                                ]
                            }
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/listTasksResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/listTasksResponse"
                    }
                }
            }
        },
        "/v1/chat/workflows": {
            "post": {
                "operationId": "createWorkflow",
                "description": "Creates a new [Workflow](#schema_workflow).",
                "parameters": [],
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/createWorkflowResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/createWorkflowResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/createWorkflowBody"
                }
            },
            "get": {
                "operationId": "listWorkflows",
                "description": "Retrieves a list of [Workflow](#schema_workflow) you've previously created. The workflows are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).",
                "parameters": [
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Filter by tags",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "conversationId",
                        "in": "query",
                        "description": "Conversation id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "User id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "parentWorkflowId",
                        "in": "query",
                        "description": "Parent workflow id",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "statuses",
                        "in": "query",
                        "description": "Status",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "pending",
                                    "in_progress",
                                    "failed",
                                    "completed",
                                    "listening",
                                    "paused",
                                    "timedout",
                                    "cancelled"
                                ]
                            }
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Workflow name",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/listWorkflowsResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/listWorkflowsResponse"
                    }
                }
            }
        },
        "/v1/chat/workflows/{id}": {
            "get": {
                "operationId": "getWorkflow",
                "description": "Retrieves the [Workflow](#schema_workflow) object for a valid identifier.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Workflow id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getWorkflowResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getWorkflowResponse"
                    }
                }
            },
            "put": {
                "operationId": "updateWorkflow",
                "description": "Update a [Workflow](#schema_workflow) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Workflow id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/updateWorkflowResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/updateWorkflowResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/updateWorkflowBody"
                }
            },
            "delete": {
                "operationId": "deleteWorkflow",
                "description": "Permanently deletes a [Workflow](#schema_workflow). It cannot be undone.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Workflow id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/deleteWorkflowResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/deleteWorkflowResponse"
                    }
                }
            }
        },
        "/v1/chat/workflows/get-or-create": {
            "post": {
                "operationId": "getOrCreateWorkflow",
                "description": "Get a workflow by tags or creates a new [Workflow](#schema_workflow) if it doesn't exists.",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/getOrCreateWorkflowResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/getOrCreateWorkflowResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/getOrCreateWorkflowBody"
                }
            }
        },
        "/v1/chat/tags/{key}/values": {
            "get": {
                "operationId": "listTagValues",
                "description": "Get a bot tag values",
                "parameters": [
                    {
                        "name": "nextToken",
                        "in": "query",
                        "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "Tag key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Tag type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "user",
                                "conversation",
                                "message"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/listTagValuesResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/listTagValuesResponse"
                    }
                }
            }
        },
        "/v1/chat/analytics": {
            "post": {
                "operationId": "trackAnalytics",
                "description": "Add an event to the analytics",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/trackAnalyticsResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/trackAnalyticsResponse"
                    }
                },
                "requestBody": {
                    "$ref": "#/components/requestBodies/trackAnalyticsBody"
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "BearerAuth": {
                "type": "http",
                "scheme": "bearer"
            },
            "BotIdHeader": {
                "type": "apiKey",
                "in": "header",
                "name": "x-bot-id",
                "description": "Your bot ID."
            }
        },
        "schemas": {
            "Bot": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "minLength": 28,
                        "maxLength": 36,
                        "description": "Id of the [Bot](#schema_bot)"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation date of the [Bot](#schema_bot) in ISO 8601 format"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Updating date of the [Bot](#schema_bot) in ISO 8601 format"
                    },
                    "signingSecret": {
                        "type": "string",
                        "maxLength": 2000,
                        "description": "Signing secret of the [Bot](#schema_bot)"
                    },
                    "integrations": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "properties": {
                                "enabled": {
                                    "type": "boolean"
                                },
                                "name": {
                                    "type": "string",
                                    "maxLength": 200,
                                    "description": "Name of the [Integration](#schema_integration)"
                                },
                                "version": {
                                    "type": "string",
                                    "maxLength": 200,
                                    "description": "Version of the [Integration](#schema_integration)"
                                },
                                "webhookUrl": {
                                    "type": "string",
                                    "maxLength": 2000
                                },
                                "webhookId": {
                                    "type": "string",
                                    "maxLength": 200
                                },
                                "identifier": {
                                    "type": "string",
                                    "maxLength": 2000
                                },
                                "configurationType": {
                                    "type": "string",
                                    "maxLength": 200,
                                    "nullable": true
                                },
                                "configuration": {
                                    "type": "object",
                                    "additionalProperties": true
                                },
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "registration_pending",
                                        "registered",
                                        "registration_failed",
                                        "unregistration_pending",
                                        "unregistered",
                                        "unregistration_failed"
                                    ]
                                },
                                "statusReason": {
                                    "type": "string",
                                    "maxLength": 2000,
                                    "nullable": true
                                },
                                "id": {
                                    "type": "string",
                                    "minLength": 28,
                                    "maxLength": 36,
                                    "description": "ID of the [Integration](#schema_integration)"
                                },
                                "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Creation date of the [Integration](#schema_integration) in ISO 8601 format"
                                },
                                "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Updating date of the [Integration](#schema_integration) in ISO 8601 format"
                                },
                                "title": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 64,
                                    "description": "Title of the integration. This is the name that will be displayed in the UI"
                                },
                                "description": {
                                    "type": "string",
                                    "maxLength": 256,
                                    "description": "Description of the integration. This is the description that will be displayed in the UI"
                                },
                                "iconUrl": {
                                    "type": "string",
                                    "description": "URL of the icon of the integration. This is the icon that will be displayed in the UI"
                                },
                                "public": {
                                    "type": "boolean",
                                    "description": "Idicates if the integration is public. Public integrations are available to all and cannot be updated without creating a new version."
                                },
                                "verificationStatus": {
                                    "type": "string",
                                    "enum": [
                                        "unapproved",
                                        "pending",
                                        "approved",
                                        "rejected"
                                    ],
                                    "description": "Status of the integration version verification"
                                }
                            },
                            "required": [
                                "enabled",
                                "name",
                                "version",
                                "webhookUrl",
                                "webhookId",
                                "configurationType",
                                "configuration",
                                "status",
                                "statusReason",
                                "id",
                                "createdAt",
                                "updatedAt",
                                "title",
                                "description",
                                "iconUrl",
                                "public",
                                "verificationStatus"
                            ],
                            "additionalProperties": false
                        },
                        "description": "A mapping of integrations to their configuration"
                    },
                    "user": {
                        "type": "object",
                        "properties": {
                            "tags": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "object",
                                    "properties": {
                                        "title": {
                                            "type": "string",
                                            "maxLength": 64,
                                            "description": "Title of the tag"
                                        },
                                        "description": {
                                            "type": "string",
                                            "maxLength": 256,
                                            "description": "Description of the tag"
                                        }
                                    },
                                    "description": "Definition of a tag that can be provided on the object",
                                    "additionalProperties": false
                                }
                            }
                        },
                        "required": [
                            "tags"
                        ],
                        "description": "User object configuration",
                        "additionalProperties": false
                    },
                    "conversation": {
                        "type": "object",
                        "properties": {
                            "tags": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "object",
                                    "properties": {
                                        "title": {
                                            "type": "string",
                                            "maxLength": 64,
                                            "description": "Title of the tag"
                                        },
                                        "description": {
                                            "type": "string",
                                            "maxLength": 256,
                                            "description": "Description of the tag"
                                        }
                                    },
                                    "description": "Definition of a tag that can be provided on the object",
                                    "additionalProperties": false
                                }
                            }
                        },
                        "required": [
                            "tags"
                        ],
                        "description": "Conversation object configuration",
                        "additionalProperties": false
                    },
                    "message": {
                        "type": "object",
                        "properties": {
                            "tags": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "object",
                                    "properties": {
                                        "title": {
                                            "type": "string",
                                            "maxLength": 64,
                                            "description": "Title of the tag"
                                        },
                                        "description": {
                                            "type": "string",
                                            "maxLength": 256,
                                            "description": "Description of the tag"
                                        }
                                    },
                                    "description": "Definition of a tag that can be provided on the object",
                                    "additionalProperties": false
                                }
                            }
                        },
                        "required": [
                            "tags"
                        ],
                        "description": "Message object configuration",
                        "additionalProperties": false
                    },
                    "states": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "properties": {
                                "type": {
                                    "type": "string",
                                    "enum": [
                                        "conversation",
                                        "user",
                                        "bot",
                                        "task"
                                    ],
                                    "description": "Type of the [State](#schema_state) (`conversation`, `user`, `bot` or `task`)"
                                },
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Schema of the [State](#schema_state) in the `JSON schema` format. This `JSON schema` is going to be used for validating the state data."
                                },
                                "expiry": {
                                    "type": "number",
                                    "minimum": 1,
                                    "description": "Expiry of the [State](#schema_state) in milliseconds. The state will expire if it is idle for the configured value. By default, a state doesn't expire."
                                }
                            },
                            "required": [
                                "type",
                                "schema"
                            ],
                            "additionalProperties": false
                        },
                        "description": "A mapping of states to their definition"
                    },
                    "configuration": {
                        "type": "object",
                        "properties": {
                            "data": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Configuration data"
                            },
                            "schema": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Schema of the configuration in the `JSON schema` format. The configuration data is validated against this `JSON schema`."
                            }
                        },
                        "required": [
                            "data",
                            "schema"
                        ],
                        "description": "Configuration of the bot",
                        "additionalProperties": false
                    },
                    "events": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "properties": {
                                "title": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "description": "Title of the event"
                                },
                                "description": {
                                    "type": "string",
                                    "maxLength": 256,
                                    "description": "Description of the event"
                                },
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true
                                }
                            },
                            "required": [
                                "schema"
                            ],
                            "description": "Event Definition",
                            "additionalProperties": false
                        },
                        "description": "Events definition"
                    },
                    "recurringEvents": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "properties": {
                                "schedule": {
                                    "type": "object",
                                    "properties": {
                                        "cron": {
                                            "type": "string",
                                            "maxLength": 200
                                        }
                                    },
                                    "required": [
                                        "cron"
                                    ],
                                    "additionalProperties": false
                                },
                                "type": {
                                    "type": "string",
                                    "maxLength": 200
                                },
                                "payload": {
                                    "type": "object",
                                    "additionalProperties": true
                                },
                                "failedAttempts": {
                                    "type": "number",
                                    "description": "The number of times the recurring event failed to run. This counter resets once the recurring event runs successfully."
                                },
                                "lastFailureReason": {
                                    "type": "string",
                                    "maxLength": 2000,
                                    "description": "The reason why the recurring event failed to run in the last attempt.",
                                    "nullable": true
                                }
                            },
                            "required": [
                                "schedule",
                                "type",
                                "payload",
                                "failedAttempts",
                                "lastFailureReason"
                            ],
                            "additionalProperties": false
                        },
                        "description": "Recurring events"
                    },
                    "subscriptions": {
                        "type": "object",
                        "properties": {
                            "events": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "object",
                                    "additionalProperties": false
                                },
                                "nullable": true,
                                "description": "Events that the bot is currently subscribed on (ex: \"slack:reactionAdded\"). If null, the bot is subscribed to all events."
                            }
                        },
                        "required": [
                            "events"
                        ],
                        "description": "Subscriptions of the bot",
                        "additionalProperties": false
                    },
                    "actions": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "properties": {
                                "title": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "description": "Title of the action"
                                },
                                "description": {
                                    "type": "string",
                                    "maxLength": 256,
                                    "description": "Description of the action"
                                },
                                "billable": {
                                    "type": "boolean"
                                },
                                "cacheable": {
                                    "type": "boolean"
                                },
                                "input": {
                                    "type": "object",
                                    "properties": {
                                        "schema": {
                                            "type": "object",
                                            "additionalProperties": true
                                        }
                                    },
                                    "required": [
                                        "schema"
                                    ],
                                    "additionalProperties": false
                                },
                                "output": {
                                    "type": "object",
                                    "properties": {
                                        "schema": {
                                            "type": "object",
                                            "additionalProperties": true
                                        }
                                    },
                                    "required": [
                                        "schema"
                                    ],
                                    "additionalProperties": false
                                }
                            },
                            "required": [
                                "input",
                                "output"
                            ],
                            "description": "Action definition",
                            "additionalProperties": false
                        },
                        "description": "Actions definition"
                    },
                    "tags": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Tags of [Bot](#schema_bot)"
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the [Bot](#schema_bot)"
                    },
                    "deployedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Last deployment date of the [Bot](#schema_bot) in the ISO 8601 format"
                    },
                    "dev": {
                        "type": "boolean",
                        "description": "Indicates if the [Bot](#schema_bot) is a development bot; Development bots run locally and can install dev integrations"
                    },
                    "createdBy": {
                        "type": "string",
                        "description": "Id of the user that created the bot"
                    },
                    "alwaysAlive": {
                        "type": "boolean",
                        "description": "Indicates if the [Bot](#schema_bot) should be in always alive mode"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "active",
                            "deploying"
                        ],
                        "description": "Status of the bot"
                    },
                    "medias": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "url": {
                                    "type": "string",
                                    "description": "URL of the media file"
                                },
                                "name": {
                                    "type": "string",
                                    "description": "Name of the media file"
                                }
                            },
                            "required": [
                                "url",
                                "name"
                            ]
                        },
                        "description": "Media files associated with the [Bot](#schema_bot)"
                    }
                },
                "required": [
                    "id",
                    "createdAt",
                    "updatedAt",
                    "signingSecret",
                    "integrations",
                    "user",
                    "conversation",
                    "message",
                    "states",
                    "configuration",
                    "events",
                    "recurringEvents",
                    "subscriptions",
                    "actions",
                    "tags",
                    "name",
                    "dev",
                    "alwaysAlive",
                    "status",
                    "medias"
                ],
                "additionalProperties": false
            },
            "Integration": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "minLength": 28,
                        "maxLength": 36,
                        "description": "ID of the [Integration](#schema_integration)"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation date of the [Integration](#schema_integration) in ISO 8601 format"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Updating date of the [Integration](#schema_integration) in ISO 8601 format"
                    },
                    "identifier": {
                        "type": "object",
                        "properties": {
                            "fallbackHandlerScript": {
                                "type": "string",
                                "maxLength": 2000,
                                "description": "VRL Script of the [Integration](#schema_integration) to handle incoming requests for a request that doesn't have an identifier"
                            },
                            "extractScript": {
                                "type": "string",
                                "maxLength": 2000,
                                "description": "VRL Script of the [Integration](#schema_integration) to extract the identifier from an incoming webhook often use for OAuth"
                            }
                        },
                        "description": "Global identifier configuration of the [Integration](#schema_integration)",
                        "additionalProperties": false
                    },
                    "sandbox": {
                        "type": "object",
                        "properties": {
                            "identifierExtractScript": {
                                "type": "string",
                                "maxLength": 2000,
                                "description": "VRL Script of the [Integration](#schema_integration) to extract the identifier from an incoming webhook used specifically for the sandbox"
                            },
                            "messageExtractScript": {
                                "type": "string",
                                "maxLength": 2000,
                                "description": "VRL Script of the [Integration](#schema_integration) to extract the message from an incoming webhook used specifically for the sandbox"
                            }
                        },
                        "additionalProperties": false
                    },
                    "url": {
                        "type": "string",
                        "maxLength": 2000,
                        "description": "URL of the [Integration](#schema_integration)"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 200,
                        "description": "Name of the [Integration](#schema_integration)"
                    },
                    "version": {
                        "type": "string",
                        "maxLength": 200,
                        "description": "Version of the [Integration](#schema_integration)"
                    },
                    "interfaces": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "minLength": 28,
                                    "maxLength": 36,
                                    "description": "ID of the interface"
                                },
                                "name": {
                                    "type": "string",
                                    "maxLength": 200,
                                    "description": "Name of the interface"
                                },
                                "version": {
                                    "type": "string",
                                    "maxLength": 200,
                                    "description": "Version of the interface"
                                },
                                "entities": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "maxLength": 200
                                            }
                                        },
                                        "required": [
                                            "name"
                                        ],
                                        "additionalProperties": false
                                    }
                                },
                                "actions": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "maxLength": 200
                                            }
                                        },
                                        "required": [
                                            "name"
                                        ],
                                        "additionalProperties": false
                                    }
                                },
                                "events": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "maxLength": 200
                                            }
                                        },
                                        "required": [
                                            "name"
                                        ],
                                        "additionalProperties": false
                                    }
                                },
                                "channels": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object",
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "maxLength": 200
                                            }
                                        },
                                        "required": [
                                            "name"
                                        ],
                                        "additionalProperties": false
                                    }
                                }
                            },
                            "required": [
                                "id",
                                "name",
                                "version",
                                "entities",
                                "actions",
                                "events",
                                "channels"
                            ],
                            "additionalProperties": false
                        }
                    },
                    "configuration": {
                        "type": "object",
                        "properties": {
                            "title": {
                                "type": "string",
                                "maxLength": 64,
                                "description": "Title of the configuration"
                            },
                            "description": {
                                "type": "string",
                                "maxLength": 256,
                                "description": "Description of the configuration"
                            },
                            "identifier": {
                                "type": "object",
                                "properties": {
                                    "linkTemplateScript": {
                                        "type": "string",
                                        "maxLength": 2000
                                    },
                                    "required": {
                                        "type": "boolean"
                                    }
                                },
                                "required": [
                                    "required"
                                ],
                                "description": "Identifier configuration of the [Integration](#schema_integration)",
                                "additionalProperties": false
                            },
                            "schema": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Schema of the configuration in the `JSON schema` format. The configuration data is validated against this `JSON schema`."
                            }
                        },
                        "required": [
                            "identifier",
                            "schema"
                        ],
                        "description": "Configuration definition",
                        "additionalProperties": false
                    },
                    "configurations": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "properties": {
                                "title": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "description": "Title of the configuration"
                                },
                                "description": {
                                    "type": "string",
                                    "maxLength": 256,
                                    "description": "Description of the configuration"
                                },
                                "identifier": {
                                    "type": "object",
                                    "properties": {
                                        "linkTemplateScript": {
                                            "type": "string",
                                            "maxLength": 2000
                                        },
                                        "required": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "required"
                                    ],
                                    "description": "Identifier configuration of the [Integration](#schema_integration)",
                                    "additionalProperties": false
                                },
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Schema of the configuration in the `JSON schema` format. The configuration data is validated against this `JSON schema`."
                                }
                            },
                            "required": [
                                "identifier",
                                "schema"
                            ],
                            "description": "Configuration definition",
                            "additionalProperties": false
                        }
                    },
                    "channels": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "properties": {
                                "title": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "description": "Title of the channel"
                                },
                                "description": {
                                    "type": "string",
                                    "maxLength": 256,
                                    "description": "Description of the channel"
                                },
                                "messages": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object",
                                        "properties": {
                                            "schema": {
[...]
