{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.botpress.cloud"
    }
  ],
  "info": {
    "title": "Botpress Runtime API",
    "description": "API for Botpress Runtime",
    "version": "1.52.1"
  },
  "paths": {
    "/v1/chat/conversations": {
      "post": {
        "operationId": "createConversation",
        "description": "Creates a new [Conversation](#schema_conversation). When creating a new [Conversation](#schema_conversation), the required tags must be provided. See the specific integration for more details.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createConversationResponse"
          },
          "default": {
            "$ref": "#/components/responses/createConversationResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createConversationBody"
        },
        "x-mint": {
          "metadata": {
            "title": "createConversation"
          }
        }
      },
      "get": {
        "operationId": "listConversations",
        "description": "Retrieves a list of [Conversation](#schema_conversation) you’ve previously created. The conversations are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](#tags).",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Sort results by this field",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort results in this direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "participantIds",
            "in": "query",
            "description": "Filter by participant ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "integrationName",
            "in": "query",
            "description": "Filter by integration name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Filter by integration channel name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listConversationsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listConversationsResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "listConversations"
          }
        }
      }
    },
    "/v1/chat/conversations/{id}": {
      "get": {
        "operationId": "getConversation",
        "description": "Retrieves the [Conversation](#schema_conversation) object for a valid identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getConversationResponse"
          },
          "default": {
            "$ref": "#/components/responses/getConversationResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getConversation"
          }
        }
      },
      "put": {
        "operationId": "updateConversation",
        "description": "Update a [Conversation](#schema_conversation) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/updateConversationResponse"
          },
          "default": {
            "$ref": "#/components/responses/updateConversationResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateConversationBody"
        },
        "x-mint": {
          "metadata": {
            "title": "updateConversation"
          }
        }
      },
      "delete": {
        "operationId": "deleteConversation",
        "description": "Permanently deletes a [Conversation](#schema_conversation). It cannot be undone. Also immediately deletes corresponding [Messages](#schema_message).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteConversationResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteConversationResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "deleteConversation"
          }
        }
      }
    },
    "/v1/chat/conversations/get-or-create": {
      "post": {
        "operationId": "getOrCreateConversation",
        "description": "Retrieves the [Conversation](#schema_conversation) object for a valid identifier. If the conversation does not exist, it will be created.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getOrCreateConversationResponse"
          },
          "default": {
            "$ref": "#/components/responses/getOrCreateConversationResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/getOrCreateConversationBody"
        },
        "x-mint": {
          "metadata": {
            "title": "getOrCreateConversation"
          }
        }
      }
    },
    "/v1/chat/conversations/{id}/participants": {
      "get": {
        "operationId": "listParticipants",
        "description": "Retrieves a list of [Participant](#schema_participant) for a given [Conversation](#schema_conversation).",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listParticipantsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listParticipantsResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "listParticipants"
          }
        }
      },
      "post": {
        "operationId": "addParticipant",
        "description": "Add a [Participant](#schema_participant) to a [Conversation](#schema_conversation).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/addParticipantResponse"
          },
          "default": {
            "$ref": "#/components/responses/addParticipantResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/addParticipantBody"
        },
        "x-mint": {
          "metadata": {
            "title": "addParticipant"
          }
        }
      }
    },
    "/v1/chat/conversations/{id}/participants/{userId}": {
      "get": {
        "operationId": "getParticipant",
        "description": "Retrieves a [Participant](#schema_participant) from a [Conversation](#schema_conversation).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getParticipantResponse"
          },
          "default": {
            "$ref": "#/components/responses/getParticipantResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getParticipant"
          }
        }
      },
      "delete": {
        "operationId": "removeParticipant",
        "description": "Remove a [Participant](#schema_participant) from a [Conversation](#schema_conversation).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/removeParticipantResponse"
          },
          "default": {
            "$ref": "#/components/responses/removeParticipantResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "removeParticipant"
          }
        }
      }
    },
    "/v1/chat/events": {
      "post": {
        "operationId": "createEvent",
        "description": "Creates a new [Event](#schema_event). When creating a new [Event](#schema_event), the required tags must be provided. See the specific integration for more details.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createEventResponse"
          },
          "default": {
            "$ref": "#/components/responses/createEventResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createEventBody"
        },
        "x-mint": {
          "metadata": {
            "title": "createEvent"
          }
        }
      },
      "get": {
        "operationId": "listEvents",
        "description": "Retrieves a list of [Event](#schema_event) you’ve previously created. The events are returned in sorted order, with the most recent appearing first.",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by event type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Filter by conversation id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Filter by user id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "description": "Filter by message id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "description": "Filter by workflow id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status. Allowed values: pending, ignored, processed, failed.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "ignored",
                "processed",
                "failed",
                "scheduled"
              ]
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listEventsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listEventsResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "listEvents"
          }
        }
      }
    },
    "/v1/chat/events/{id}": {
      "get": {
        "operationId": "getEvent",
        "description": "Retrieves the [Event](#schema_event) object for a valid identifiers.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Event id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getEventResponse"
          },
          "default": {
            "$ref": "#/components/responses/getEventResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getEvent"
          }
        }
      }
    },
    "/v1/chat/events/scheduled/{id}": {
      "delete": {
        "operationId": "cancelScheduledEvent",
        "description": "Permanently cancels a scheduled [Event](#schema_event). The event must be in a `scheduled` state.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Event id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/cancelScheduledEventResponse"
          },
          "default": {
            "$ref": "#/components/responses/cancelScheduledEventResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "cancelScheduledEvent"
          }
        }
      }
    },
    "/v1/chat/messages": {
      "post": {
        "operationId": "createMessage",
        "description": "Creates a new [Message](#schema_message). When creating a new [Message](#schema_message), the required tags must be provided. See the specific integration for more details.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/createMessageResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createMessageBody"
        },
        "x-mint": {
          "metadata": {
            "title": "createMessage"
          }
        }
      },
      "get": {
        "operationId": "listMessages",
        "description": "Retrieves a list of [Message](#schema_message) you’ve previously created. The messages are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Conversation id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listMessagesResponse"
          },
          "default": {
            "$ref": "#/components/responses/listMessagesResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "listMessages"
          }
        }
      }
    },
    "/v1/chat/messages/get-or-create": {
      "post": {
        "operationId": "getOrCreateMessage",
        "description": "Retrieves the [Message](#schema_message) object for a valid identifier. If the message does not exist, it will be created.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getOrCreateMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/getOrCreateMessageResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/getOrCreateMessageBody"
        },
        "x-mint": {
          "metadata": {
            "title": "getOrCreateMessage"
          }
        }
      }
    },
    "/v1/chat/messages/{id}": {
      "get": {
        "operationId": "getMessage",
        "description": "Retrieves the [Message](#schema_message) object for a valid identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the Message",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/getMessageResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getMessage"
          }
        }
      },
      "put": {
        "operationId": "updateMessage",
        "description": "Updates a message tags and payload. The message type cannot be changed. Calling this operation from an integration, to update an incoming message, will not invoke the bot. The other way around it also true; Calling this operation from the bot, to update an outgoing message, will not invoke the integration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Message id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/updateMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/updateMessageResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateMessageBody"
        },
        "x-mint": {
          "metadata": {
            "title": "updateMessage"
          }
        }
      },
      "delete": {
        "operationId": "deleteMessage",
        "description": "Permanently deletes a [Message](#schema_message). It cannot be undone.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Message id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteMessageResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteMessageResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "deleteMessage"
          }
        }
      }
    },
    "/v1/chat/users": {
      "post": {
        "operationId": "createUser",
        "description": "Creates a new [User](#schema_user). When creating a new [User](#schema_user), the required tags must be provided. See the specific integration for more details.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createUserResponse"
          },
          "default": {
            "$ref": "#/components/responses/createUserResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createUserBody"
        },
        "x-mint": {
          "metadata": {
            "title": "createUser"
          }
        }
      },
      "get": {
        "operationId": "listUsers",
        "description": "Retrieves a list of [User](#schema_user) previously created. The users are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Filter by conversation id. This will return all users that have participated in the conversation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listUsersResponse"
          },
          "default": {
            "$ref": "#/components/responses/listUsersResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "listUsers"
          }
        }
      }
    },
    "/v1/chat/users/{id}": {
      "get": {
        "operationId": "getUser",
        "description": "Retrieves the [User](#schema_user) object for a valid identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getUserResponse"
          },
          "default": {
            "$ref": "#/components/responses/getUserResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getUser"
          }
        }
      },
      "put": {
        "operationId": "updateUser",
        "description": "Update a [User](#schema_user) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/updateUserResponse"
          },
          "default": {
            "$ref": "#/components/responses/updateUserResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateUserBody"
        },
        "x-mint": {
          "metadata": {
            "title": "updateUser"
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "description": "Permanently deletes a [User](#schema_user). It cannot be undone.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteUserResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteUserResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "deleteUser"
          }
        }
      }
    },
    "/v1/chat/users/get-or-create": {
      "post": {
        "operationId": "getOrCreateUser",
        "description": "Retrieves the [User](#schema_user) object for a valid identifier. If the user does not exist, it will be created.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getOrCreateUserResponse"
          },
          "default": {
            "$ref": "#/components/responses/getOrCreateUserResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/getOrCreateUserBody"
        },
        "x-mint": {
          "metadata": {
            "title": "getOrCreateUser"
          }
        }
      }
    },
    "/v1/chat/states/{type}/{id}/{name}/expiry": {
      "post": {
        "operationId": "setStateExpiry",
        "description": "Updates the [State](#schema_state) expiry.",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Represents the resource type that the state is related to",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "conversation",
                "user",
                "bot",
                "integration",
                "task",
                "workflow"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the State which will be either the botId, the userId or the conversationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the State which is declared inside the bot definition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/setStateExpiryResponse"
          },
          "default": {
            "$ref": "#/components/responses/setStateExpiryResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/setStateExpiryBody"
        },
        "x-mint": {
          "metadata": {
            "title": "setStateExpiry"
          }
        }
      }
    },
    "/v1/chat/states/{type}/{id}/{name}": {
      "get": {
        "operationId": "getState",
        "description": "Retrieves the [State](#schema_state) object for a valid identifiers.",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Represents the resource type that the state is related to",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "conversation",
                "user",
                "bot",
                "integration",
                "task",
                "workflow"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the State which will be either the botId, the userId or the conversationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the State which is declared inside the bot definition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getStateResponse"
          },
          "default": {
            "$ref": "#/components/responses/getStateResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getState"
          }
        }
      },
      "post": {
        "operationId": "setState",
        "description": "Overrides the [State](#schema_state) object by setting the values of the parameters passed.",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Represents the resource type that the state is related to",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "conversation",
                "user",
                "bot",
                "integration",
                "task",
                "workflow"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the State which will be either the botId, the userId or the conversationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the State which is declared inside the bot definition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/setStateResponse"
          },
          "default": {
            "$ref": "#/components/responses/setStateResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/setStateBody"
        },
        "x-mint": {
          "metadata": {
            "title": "setState"
          }
        }
      },
      "patch": {
        "operationId": "patchState",
        "description": "Updates the [State](#schema_state) object by setting the values of the parameters passed.",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Represents the resource type that the state is related to",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "conversation",
                "user",
                "bot",
                "integration",
                "task",
                "workflow"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the State which will be either the botId, the userId or the conversationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the State which is declared inside the bot definition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/patchStateResponse"
          },
          "default": {
            "$ref": "#/components/responses/patchStateResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/patchStateBody"
        },
        "x-mint": {
          "metadata": {
            "title": "patchState"
          }
        }
      }
    },
    "/v1/chat/states/{type}/{id}/{name}/get-or-set": {
      "post": {
        "operationId": "getOrSetState",
        "description": "Retrieves the [State](#schema_state) object for a valid identifiers. If the state does not exist, it creates a new state.",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Represents the resource type that the state is related to",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "conversation",
                "user",
                "bot",
                "integration",
                "task",
                "workflow"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the State which will be either the botId, the userId or the conversationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the State which is declared inside the bot definition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getOrSetStateResponse"
          },
          "default": {
            "$ref": "#/components/responses/getOrSetStateResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/getOrSetStateBody"
        },
        "x-mint": {
          "metadata": {
            "title": "getOrSetState"
          }
        }
      }
    },
    "/v1/chat/actions": {
      "post": {
        "operationId": "callAction",
        "description": "Call an action",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/callActionResponse"
          },
          "default": {
            "$ref": "#/components/responses/callActionResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/callActionBody"
        },
        "x-mint": {
          "metadata": {
            "title": "callAction"
          }
        }
      }
    },
    "/v1/chat/integrations/configure": {
      "post": {
        "operationId": "configureIntegration",
        "description": "An integration can call this endpoint to configure itself",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/configureIntegrationResponse"
          },
          "default": {
            "$ref": "#/components/responses/configureIntegrationResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/configureIntegrationBody"
        },
        "x-mint": {
          "metadata": {
            "title": "configureIntegration"
          }
        }
      }
    },
    "/v1/chat/tasks/{id}": {
      "get": {
        "operationId": "getTask",
        "description": "Retrieves the [Task](#schema_task) object for a valid identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Task id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getTaskResponse"
          },
          "default": {
            "$ref": "#/components/responses/getTaskResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getTask"
          }
        },
        "x-hidden": true,
        "tags": [
          "Endpoints"
        ]
      },
      "put": {
        "operationId": "updateTask",
        "description": "Update a [Task](#schema_task) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Task id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/updateTaskResponse"
          },
          "default": {
            "$ref": "#/components/responses/updateTaskResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/updateTaskBody"
        },
        "x-mint": {
          "metadata": {
            "title": "updateTask"
          }
        },
        "x-hidden": true,
        "tags": [
          "Endpoints"
        ]
      },
      "delete": {
        "operationId": "deleteTask",
        "description": "Permanently deletes a [Task](#schema_task). It cannot be undone.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Task id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteTaskResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteTaskResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "deleteTask"
          }
        },
        "x-hidden": true,
        "tags": [
          "Endpoints"
        ]
      }
    },
    "/v1/chat/tasks": {
      "post": {
        "operationId": "createTask",
        "description": "Creates a new [Task](#schema_task). When creating a new [Task](#schema_task), the required tags must be provided. See the specific integration for more details.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createTaskResponse"
          },
          "default": {
            "$ref": "#/components/responses/createTaskResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/createTaskBody"
        },
        "x-mint": {
          "metadata": {
            "title": "createTask"
          }
        },
        "x-hidden": true,
        "tags": [
          "Endpoints"
        ]
      },
      "get": {
        "operationId": "listTasks",
        "description": "Retrieves a list of [Task](#schema_task) you've previously created. The tasks are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Conversation id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "User id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentTaskId",
            "in": "query",
            "description": "Parent task id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "pending",
                  "in_progress",
                  "failed",
                  "completed",
                  "blocked",
                  "paused",
                  "timeout",
                  "cancelled"
                ]
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listTasksResponse"
          },
          "default": {
            "$ref": "#/components/responses/listTasksResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "listTasks"
          }
        },
        "x-hidden": true,
        "tags": [
          "Endpoints"
        ]
      }
    },
    "/v1/chat/workflows": {
      "post": {
        "operationId": "createWorkflow",
        "description": "Creates a new [Workflow](#schema_workflow).",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/createWorkflowResponse"
          },
          "default": {
            "$ref": "#/components/responses/createWorkflowResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/createWorkflowBody"
        },
        "x-mint": {
          "metadata": {
            "title": "createWorkflow"
          }
        },
        "x-hidden": true,
        "tags": [
          "Endpoints"
        ]
      },
      "get": {
        "operationId": "listWorkflows",
        "description": "Retrieves a list of [Workflow](#schema_workflow) you've previously created. The workflows are returned in sorted order, with the most recent appearing first. The list can be filtered using [Tags](/docs/developers/concepts/tags).",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Conversation id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "User id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentWorkflowId",
            "in": "query",
            "description": "Parent workflow id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Status",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "pending",
                  "in_progress",
                  "failed",
                  "completed",
                  "listening",
                  "paused",
                  "timedout",
                  "cancelled"
                ]
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Workflow name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listWorkflowsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listWorkflowsResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "listWorkflows"
          }
        },
        "x-hidden": true,
        "tags": [
          "Endpoints"
        ]
      }
    },
    "/v1/chat/workflows/{id}": {
      "get": {
        "operationId": "getWorkflow",
        "description": "Retrieves the [Workflow](#schema_workflow) object for a valid identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workflow id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getWorkflowResponse"
          },
          "default": {
            "$ref": "#/components/responses/getWorkflowResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getWorkflow"
          }
        },
        "x-hidden": true,
        "tags": [
          "Endpoints"
        ]
      },
      "put": {
        "operationId": "updateWorkflow",
        "description": "Update a [Workflow](#schema_workflow) object by setting the values of the parameters passed. Any parameters not provided will be left unchanged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workflow id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/updateWorkflowResponse"
          },
          "default": {
            "$ref": "#/components/responses/updateWorkflowResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/updateWorkflowBody"
        },
        "x-mint": {
          "metadata": {
            "title": "updateWorkflow"
          }
        },
        "x-hidden": true,
        "tags": [
          "Endpoints"
        ]
      },
      "delete": {
        "operationId": "deleteWorkflow",
        "description": "Permanently deletes a [Workflow](#schema_workflow). It cannot be undone.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workflow id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteWorkflowResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteWorkflowResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "deleteWorkflow"
          }
        },
        "x-hidden": true,
        "tags": [
          "Endpoints"
        ]
      }
    },
    "/v1/chat/workflows/get-or-create": {
      "post": {
        "operationId": "getOrCreateWorkflow",
        "description": "Get a workflow by tags or creates a new [Workflow](#schema_workflow) if it doesn't exists.",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getOrCreateWorkflowResponse"
          },
          "default": {
            "$ref": "#/components/responses/getOrCreateWorkflowResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/getOrCreateWorkflowBody"
        },
        "x-mint": {
          "metadata": {
            "title": "getOrCreateWorkflow"
          }
        },
        "x-hidden": true,
        "tags": [
          "Endpoints"
        ]
      }
    },
    "/v1/chat/tags/{key}/values": {
      "get": {
        "operationId": "listTagValues",
        "description": "Get a bot tag values",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "Tag key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Tag type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "conversation",
                "message"
              ]
            }
          },
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listTagValuesResponse"
          },
          "default": {
            "$ref": "#/components/responses/listTagValuesResponse"
          }
        },
        "tags": [
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "listTagValues"
          }
        }
      }
    },
    "/v1/chat/analytics": {
      "post": {
        "operationId": "trackAnalytics",
        "description": "Add an event to the analytics",
        "parameters": [
          {
            "name": "x-bot-id",
            "in": "header",
            "description": "Bot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-id",
            "in": "header",
            "description": "Integration id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-integration-alias",
            "in": "header",
            "description": "Integration alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/trackAnalyticsResponse"
          },
          "default": {
            "$ref": "#/components/responses/trackAnalyticsResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/trackAnalyticsBody"
        },
        "x-mint": {
          "metadata": {
            "title": "trackAnalytics"
          }
        },
        "x-hidden": true,
        "tags": [
          "Endpoints"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Id of the [User](#schema_user)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date of the [User](#schema_user) in ISO 8601 format"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Updating date of the [User](#schema_user) in ISO 8601 format"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Set of [Tags](/docs/developers/concepts/tags) that you can attach to a [User](#schema_user). The set of [Tags](/docs/developers/concepts/tags) available on a [User](#schema_user) is restricted by the list of [Tags](/docs/developers/concepts/tags) defined previously by the [Bot](#schema_bot). Individual keys can be unset by posting an empty value to them."
          },
          "name": {
            "type": "string",
            "maxLength": 200,
            "description": "Name of the [User](#schema_user)"
          },
          "pictureUrl": {
            "type": "string",
            "maxLength": 40000,
            "description": "Picture URL of the [User](#schema_user)"
          }
        },
        "required": [
          "id",
          "createdAt",
          "updatedAt",
          "tags"
        ],
        "description": "The user object represents someone interacting with the bot within a specific integration. The same person interacting with a bot in slack and messenger will be represented with two different users.",
        "additionalProperties": false
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Id of the [Conversation](#schema_conversation)"
          },
          "currentTaskId": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Id of the current [Task](#schema_task)"
          },
          "currentWorkflowId": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Id of the current [Workflow](#schema_workflow)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date of the [Conversation](#schema_conversation) in ISO 8601 format"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Updating date of the [Conversation](#schema_conversation) in ISO 8601 format"
          },
          "channel": {
            "type": "string",
            "description": "Name of the channel where the [Conversation](#schema_conversation) is happening"
          },
          "integration": {
            "type": "string",
            "description": "Name of the integration that created the [Conversation](#schema_conversation)"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Set of [Tags](/docs/developers/concepts/tags) that you can attach to a [Conversation](#schema_conversation). The set of [Tags](/docs/developers/concepts/tags) available on a [Conversation](#schema_conversation) is restricted by the list of [Tags](/docs/developers/concepts/tags) defined previously by the [Bot](#schema_bot). Individual keys can be unset by posting an empty value to them."
          }
        },
        "required": [
          "id",
          "createdAt",
          "updatedAt",
          "channel",
          "integration",
          "tags"
        ],
        "description": "The [Conversation](#schema_conversation) object represents an exchange of messages between one or more users. A [Conversation](#schema_conversation) is always linked to an integration's channels. For example, a Slack channel represents a conversation.",
        "additionalProperties": false
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Id of the [Event](#schema_event)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date of the [Event](#schema_event) in ISO 8601 format"
          },
          "type": {
            "type": "string",
            "maxLength": 200,
            "description": "Type of the [Event](#schema_event)."
          },
          "payload": {
            "type": "object",
            "additionalProperties": true,
            "description": "Payload is the content of the event defined by the integration installed on your bot or one of the default events created by our api."
          },
          "conversationId": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "ID of the [Conversation](#schema_conversation) to link the event to."
          },
          "userId": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "ID of the [User](#schema_user) to link the event to."
          },
          "messageId": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "ID of the [Message](#schema_message) to link the event to."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processed",
              "ignored",
              "failed",
              "scheduled",
              "canceled"
            ]
          },
          "failureReason": {
            "type": "string",
            "maxLength": 2000,
            "nullable": true,
            "description": "Reason why the event failed to be processed"
          }
        },
        "required": [
          "id",
          "createdAt",
          "type",
          "payload",
          "status",
          "failureReason"
        ],
        "description": "The event object represents an action or an occurrence.",
        "additionalProperties": false
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Id of the [Message](#schema_message)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date of the [Message](#schema_message) in ISO 8601 format"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Update date of the [Message](#schema_message) in ISO 8601 format"
          },
          "type": {
            "type": "string",
            "maxLength": 200,
            "description": "Type of the [Message](#schema_message) represents the resource type that the message is related to"
          },
          "payload": {
            "type": "object",
            "additionalProperties": true,
            "description": "Payload is the content type of the message. Accepted payload options: Text, Image, Choice, Dropdown, Card, Carousel, File, Audio, Video, Location"
          },
          "direction": {
            "type": "string",
            "enum": [
              "incoming",
              "outgoing"
            ],
            "description": "Direction of the message (`incoming` or `outgoing`)."
          },
          "userId": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "ID of the [User](#schema_user)"
          },
          "conversationId": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "ID of the [Conversation](#schema_conversation)"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Set of [Tags](/docs/developers/concepts/tags) that you can attach to a [Conversation](#schema_conversation). The set of [Tags](/docs/developers/concepts/tags) available on a [Conversation](#schema_conversation) is restricted by the list of [Tags](/docs/developers/concepts/tags) defined previously by the [Bot](#schema_bot). Individual keys can be unset by posting an empty value to them."
          },
          "origin": {
            "type": "string",
            "enum": [
              "synthetic"
            ],
            "description": "Origin of the message (`synthetic`)."
          }
        },
        "required": [
          "id",
          "createdAt",
          "updatedAt",
          "type",
          "payload",
          "direction",
          "userId",
          "conversationId",
          "tags"
        ],
        "description": "The Message object represents a message in a [Conversation](#schema_conversation) for a specific [User](#schema_user).",
        "additionalProperties": false
      },
      "State": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Id of the [State](#schema_state)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date of the [State](#schema_state) in ISO 8601 format"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Updating date of the [State](#schema_state) in ISO 8601 format"
          },
          "botId": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Id of the [Bot](#schema_bot)"
          },
          "conversationId": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Id of the [Conversation](#schema_conversation)"
          },
          "userId": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Id of the [User](#schema_user)"
          },
          "name": {
            "type": "string",
            "maxLength": 200,
            "description": "Name of the [State](#schema_state) which is declared inside the bot definition"
          },
          "type": {
            "type": "string",
            "enum": [
              "conversation",
              "user",
              "bot",
              "task",
              "integration",
              "workflow"
            ],
            "description": "Type of the [State](#schema_state) represents the resource type (`conversation`, `user`, `bot`, `task`, `integration` or `workflow`) that the state is related to"
          },
          "payload": {
            "type": "object",
            "additionalProperties": true,
            "description": "Payload is the content of the state defined by your bot."
          }
        },
        "required": [
          "id",
          "createdAt",
          "updatedAt",
          "botId",
          "name",
          "type",
          "payload"
        ],
        "description": "The state object represents the current payload. A state is always linked to either a bot, a conversation or a user.",
        "additionalProperties": false
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Id of the [Task](#schema_task)"
          },
          "title": {
            "type": "string",
            "maxLength": 64,
            "description": "Title describing the task"
          },
          "description": {
            "type": "string",
            "maxLength": 256,
            "description": "All the notes related to the execution of the current task"
          },
          "type": {
            "type": "string",
            "description": "Type of the task"
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Content related to the task"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "in_progress",
              "failed",
              "completed",
              "blocked",
              "paused",
              "timeout",
              "cancelled"
            ],
            "description": "Status of the task"
          },
          "parentTaskId": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Parent task id is the parent task that created this task"
          },
          "conversationId": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Conversation id related to this task"
          },
          "userId": {
            "type": "string",
            "minLength": 28,
            "maxLength": 36,
            "description": "Specific user related to this task"
          },
          "timeoutAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timeout date where the task should be failed in the ISO 8601 format"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date of the task in ISO 8601 format"
          },
[...]
