.transparent-accordion .bg-background-light {
  background-color: transparent !important;
}

/* Info callout background and border */
.callout[data-callout-type='info'] {
  background-color: light-dark(rgba(253, 244, 255, 0.5), rgba(217, 70, 239, 0.1));
  border-color: light-dark(rgba(217, 70, 239, 0.2), rgba(168, 85, 247, 0.3));
}

/* Info callout icon */
.callout[data-callout-type='info'] [data-component-part='callout-icon'] svg {
  color: light-dark(rgba(192, 38, 211), rgba(232, 121, 249, 0.8));
}

/* Info callout text */
.callout[data-callout-type='info'] [data-component-part='callout-content'] {
  color: light-dark(rgba(112, 26, 117), rgba(245, 208, 254));
}

.tooltip {
  text-decoration-line: none !important;
}

.bg-tooltip {
  background-color: rgb(255, 0, 255);
}

.bpFab {
  box-shadow: none !important;
}

.tracking-tight {
  letter-spacing: normal !important;
}

.home-header {
  font-size: 50px !important;
}

@media (min-width: 768px) { .bpWebchat {
    box-shadow: none !important;
    min-width: 450px;
    width: 29.7vw !important;
    max-height: 83.2vh !important;
  }
}