.transparent-accordion .bg-background-light {
  background-color: transparent !important;
}

/* Info callout background and border */
.callout[data-callout-type='info'] {
  background-color: light-dark(rgba(253, 244, 255, 0.5), rgba(217, 70, 239, 0.1));
  border-color: light-dark(rgba(217, 70, 239, 0.2), rgba(168, 85, 247, 0.3));
}

/* Info callout icon */
.callout[data-callout-type='info'] [data-component-part='callout-icon'] svg {
  color: light-dark(rgba(192, 38, 211), rgba(232, 121, 249, 0.8));
}

/* Info callout text */
.callout[data-callout-type='info'] [data-component-part='callout-content'] {
  color: light-dark(rgba(112, 26, 117), rgba(245, 208, 254));
}

.tooltip {
  text-decoration-line: none !important;
}

.bg-tooltip {
  background-color: rgb(255, 0, 255);
}

.bpFab {
  box-shadow: none !important;
}

.tracking-tight {
  letter-spacing: normal !important;
}

.high-contrast {
  color: light-dark(black, white) !important;
}

/* Hero background image for home page */
.hero-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px; /* fallback for very small screens */
}

.hero_banner {
    background-color: var(--_bp2025---color-base-bg-main);
    color: var(--_bp2025---color-base-300);
    text-align: center;
    border: 1px solid #3c8135;
    border-radius: 0;
    padding: .5rem 1rem;
    font-size: .8rem;
    line-height: 130%;
    text-decoration: none;
    transition: all .2s;
    position: relative
}

.hero_banner:hover {
    background-color: #2b5b27;
    color: white;
}

.hero_banner_dot {
    background-color: #3c8135;
    width: 8px;
    height: 8px;
    position: absolute;
    inset: -4px auto auto -4px
}

@media (min-width: 768px) {
  .hero-bg {
    /* Desktop SVG background */
    background-image: url('https://i.ibb.co/jvt7Zv4W/background-graphic-desktop.webp');
    aspect-ratio: 7000 / 1773;
    min-height: 500px;
    background-size: 100% auto;
    /* background-position: center 0%; */
  }
}

@media (max-width: 767px) {
  .hero-bg {
    /* Mobile SVG background */
    background-image: url('https://i.ibb.co/ksc4V3xB/background-graphic-mobile.webp');
    aspect-ratio: 2066 / 1223;
    min-height: 350px;
    background-size: 95% auto;
    background-position: center 40%;
  }
}

@media (min-width: 768px) { .bpWebchat {
    box-shadow: none !important;
    min-width: 450px;
    width: 29.7vw !important;
    max-height: 83.2vh !important;
  }
}