:root{
  --ifm-color-primary-lightest: #6796FC;
  --ifm-color-primary-lighter: #3E7BFC;
  --ifm-color-primary-light: #3171FB;
  --ifm-color-primary: #165FFB;
  --ifm-color-primary-dark: #0450F2;
  --ifm-color-primary-darker: #044BE4;
  --ifm-color-primary-darkest: #033EBC;
}
