name: Notify Slack on PR Merge

on:
  pull_request:
    types: closed

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Notify Slack
        run: |
          curl -X POST https://slack.com/api/chat.postMessage \
          -H "Authorization: Bearer ${{ secrets.SLACK_BOT_TOKEN }}" \
          -H "Content-type: application/json; charset=utf-8" \
          -d '{
            "text": "Docs Update",
            "channel": "C08K7SB0VT8",
            "blocks": [
              {
                "type": "markdown",
                "text": ":blue_book: [${{ github.event.pull_request.user.login }}](https://github.com/${{ github.event.pull_request.user.login }}) updated the docs!"
              },
              {
                "type": "divider"
              },
              {
                "type": "markdown",
                "text": "${{ github.event.pull_request.body }}"
              }
            ]
          }'
